.room-modal
  - if @room
    .modal.fade#roomModal{data: { keyboard: true, opened: ('true' if @modal_opened || false)}}
      .modal-dialog.modal-lg
        .modal-content
          %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
            %span{ 'aria-hidden' => true } &times;
          .modal-body#rooms
            #name
              %a.btn.room-name{ 'data-toggle' => 'collapse', :href => '#collapse-description' }
                %i.fa.fa-chevron-down.pull-left
                = @room.name.mb_chars.upcase
                %i.fa.fa-chevron-down.pull-right
              #collapse-description.collapse
                .center
                  = render 'frontend/landing/room_description', room: @room

            - if @room.images.count == 1
              .room-cover{ style: "background-image: url(#{@room.images.first.img})" }
            - else
              .room-carousel.collapse.in
                - @room.images.each do |image|
                  .room-slide{ style: "background-image: url(#{image.img})" }
              .carousel-arrows
                %i.fa.fa-chevron-left{ style: 'margin-right: 10px;' }
                %i.fa.fa-chevron-right{ style: 'margin-left: 10px;' }

            %a.btn.room-name.hide#images{ 'data-toggle' => 'collapse', :href => '.room-carousel' }
              %i.fa.fa-chevron-up.pull-left
              Imagenes
              %i.fa.fa-chevron-up.pull-right
            .room-content.white
              .room-name= @room.name.mb_chars.upcase
              = render 'frontend/landing/room_description', room: @room
