= title "#{ t('landing.hotel') } - #{ t('navbar.facilities') }"
- names = { diao: 'red', macato: 'orange', buco: 'blue' }

.banner#banner-facilities
  .centered-right
    -# .restaurants-text
    -#   %span= t('facilities.banner.text')
    -#   %span.strong= t('facilities.banner.text_bold')

.facilities
  .title= t('facilities.title')
  - names.each do |name, color|
    .facility-box{ id: name }
      .banner{ id: "banner-#{name}" }
      .row.info-box
        .col-lg-5.col-md-6.col-sm-7.col-xs-12.col-facility
          = t("facilities.#{name}.title").html_safe
          %p= t("facilities.#{name}.description")
        .col-lg-7.col-md-6.col-sm-5.col-xs-12.col-facility
          .info-box-colored{ class: "#{color}-bg" }
            = t("facilities.#{name}.info").html_safe
