= title "#{ t('landing.hotel') } - #{ t('navbar.paraguana') }"
.banner#banner-paraguana
  .center
    = image_tag t('paraguana.image_white')

.paraguana-container.row
  .col-lg-6.col-md-6.col-sm-12.col-xs-12.col-text.container-left
    .centered-dr
      %p= t('paraguana.text_1')
  .col-lg-6.col-md-6.col-sm-12.col-xs-12.col-image.container-right
    #image-1
  .col-lg-6.col-md-6.col-sm-12.col-xs-12.col-image.container-left
    #image-2
  .col-lg-6.col-md-6.col-sm-12.col-xs-12.col-text.container-right
    .centered-ul
      %p= t('paraguana.text_2')
  .col-lg-6.col-md-6.col-sm-12.col-xs-12.col-image.container-left
    #image-3
  .col-lg-6.col-md-6.col-sm-12.col-xs-12.col-image.container-right
    #image-4
.row#paraguana-black
  = image_tag t('paraguana.image_black')
