= simple_form_for "", url: send_poll_path, method: :post do |f|
  .container#form-reservation
    %h1= @poll.name
    .title-form
      %a= t("poll.info.title")
    .row
      .col-lg-6
        = f.input :firstname, label: false, input_html: {placeholder: t("poll.info.firstname")}
      .col-lg-6
        = f.input :lastname, label: false, input_html: {placeholder: t("poll.info.lastname")}
    = f.input :email, label: false, input_html: {placeholder: t("poll.info.email")}

    = render "frontend/poll/build_questions", questions: @poll.questions
    .form-actions
      = f.button :submit, t("poll.info.send"), class: "btn btn-save", id: "btn-submit" , style: "width: auto;"
