$(document).ready(function() {
  var $modal = ('<%= j render partial: "frontend/show_room", id: @room.id, modal_opened: true %>');
  var $description = ('<%= j render partial: "frontend/landing/room_description", room: @room %>')
  $('.room-modal').remove();
  $('body').append($modal);

  $('.room-carousel').slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: false,
    arrows: false,
    draggable: false,
    autoplay: true,
    autoplaySpeed: 5000,
    fade: true,
    pauseOnHover: false,
    responsive: [
    {
      breakpoint: 770,
      settings: {
        draggable: true,
        autoplay: false
      }
    }
    ]
  });
  $('.room-carousel').slick('slickNext');
  $('#roomModal').modal('show').delay(1000);

  $('#collapse-description').on('shown.bs.collapse', function () {
    $('.room-carousel').removeClass('in');
    $('.room-carousel').addClass('hide');
    $('.modal-body').find('.room-cover').addClass('hide');
    $('#images').removeClass('hide');
    $('.carousel-arrows').addClass('hide');
  });

  $('#collapse-description').on('hide.bs.collapse', function () {
    $('.room-carousel').removeClass('hide');
    $('.modal-body').find('.room-cover').removeClass('hide');
    $('#images').addClass('hide');
    $('.carousel-arrows').removeClass('hide');
  });

  $('.fa-chevron-right').on('click', function () {
    $('.room-carousel').slick('slickNext')
  });

  $('.fa-chevron-left').on('click', function () {
    $('.room-carousel').slick('slickPrev')
  });

  $('#images').on('click', function () {
    $('#collapse-description').removeClass('in');
    $('.room-carousel').removeClass('hide');
    $('.modal-body').find('.room-cover').removeClass('hide');
    $('#images').addClass('hide');
    $('.carousel-arrows').removeClass('hide');
  });

});
