.banner {
  height: 250px;
  position: relative;
  color: $white;
  font-family: 'Roboto Bold';
  font-size: 40px;
  @include respond-to(xs) {
    height: 200px;
  }
  @include respond-to(xl) {
    height: 300px;
  }
}

#banner-paraguana {
  background: image-url('frontend/Paraguana/banner_ConoceParaguana.jpg') center no-repeat;
  background-position: 100%;
  margin-bottom: 70px;
  background-size: cover;
  @include respond-to(xs) {
    background-position-x: 60%;
  }
}

#banner-facilities {
  background: image-url('frontend/Instalaciones/Banner.jpg') center no-repeat;
  background-position: 100%;
  margin-bottom: 70px;
  font-size: 3.6rem;
  background-size: cover;

  .centered-right {
    @extend .center;
    align-items: flex-end;
    text-align: right;
    padding-right: 50px;
  }
  span {
    display: block;
    font-family: 'Century Gothic Italic';
    margin-right: 30px;
  }
  .strong {
    font-family: 'Century Gothic Bold Italic';
    margin-right: 0;
  }
}


#banner-diao {
  background: image-url('frontend/Instalaciones/Diao.jpg') center no-repeat;
  background-position: 100%;
  margin-bottom: 25px;
  background-size: cover;
  height: 300px;
  @include respond-to(xs) {
    background-position-x: 90%;
    height: 200px;
  }
  @include respond-to(sm) {
    height: 250px;
  }
  @include respond-to(xl) {
    height: 400px;
  }
}
#banner-macato {
  background: image-url('frontend/Instalaciones/Macato.jpg') center no-repeat;
  background-position: 100%;
  margin-bottom: 25px;
  background-size: cover;
  height: 300px;
  @include respond-to(xs) {
    background-position-x: 95%;
    height: 200px;
  }
  @include respond-to(sm) {
    height: 250px;
  }
  @include respond-to(xl) {
    height: 400px;
  }
}
#banner-buco {
  background: image-url('frontend/Instalaciones/Buco.jpg') center no-repeat;
  background-position: 100%;
  margin-bottom: 25px;
  background-size: cover;
  height: 300px;
  @include respond-to(xs) {
    background-position-x: 95%;
    height: 200px;
  }
  @include respond-to(sm) {
    height: 250px;
  }
  @include respond-to(xl) {
    height: 400px;
  }
}
#banner-guanibara {
  background: image-url('frontend/Instalaciones/Guanibara.jpg') center no-repeat;
  background-position: 100%;
  margin-bottom: 25px;
  background-size: cover;
  height: 300px;
  @include respond-to(xs) {
    background-position-x: 95%;
    height: 200px;
  }
  @include respond-to(sm) {
    height: 250px;
  }
  @include respond-to(xl) {
    height: 400px;
  }
}

.events-banner {
  position: relative;
  .banner-background {
    height: 100%;
    display: flex;
  }
  .banner-texts {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
  }
  .background-1,
  .background-2 {
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-image: $yellow;
  }
  .background-1 {
    @include respond-to(xs) {
      width: 100%;
    }
  }
  .background-2 {
    @include respond-to(xs) {
      display: none;
    }
  }
  .mask-left {
    position: absolute;
    width: 100%;
    height: 100%;
    @include linear-gradient(to right, transparent 0%, transparent 40%, $yellow 100%);

    @include respond-to(xs) {
      @include radial-gradient(circle, transparent 50%, $yellow 100%);
    }
  }
  .mask-right {
    position: absolute;
    width: 100%;
    height: 100%;
    @include linear-gradient(to left, transparent 0%, transparent 40%, $yellow 100%);
  }
  .center {
    @include linear-gradient(to bottom, transparent 0%, transparent 50%, $yellow 100%);
  }

  .names {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Medium';
    font-size: 25px;
    display: flex;

    @include respond-to(xs) {
      font-size: 16px;
    }
    a {
      width: 50%;
      margin: 0;
      color: $white;
      display: inline;
    }
    a:hover {
      text-decoration: none;
    }
    .left {
      border-right: 1px solid white;
      text-align: right;
      padding-right: 30px;
      @include respond-to(xs) {
        width: 100%;
        border: 0;
        text-align: center;
        padding-right: 0;
      }
    }
    .right {
      border-left: 1px solid white;
      text-align: left;
      padding-left: 30px;

      @include respond-to(xs) {
        display: none;
      }
    }
  }
}
