.btn-yellow {
  @include transition(.5s);
  background-color: $yellow;
  border-color: #6B5328;
  border-radius: 0;
  color: $white;
  font-family: 'Roboto Regular';
  font-size: 1.6rem;
  outline: 0;
  margin-top: 30px;
  float: right;

  @include respond-to(xs) {
    float: none;
  }
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active {
  background-color: $yellow-hover;
  border-color: #6B5328;
  color: $white;
  outline: 0;
}
