footer {
  font-family: 'Roboto Medium';
  #map {
    height: 250px;
    @include respond-to(xl) {
      height: 300px;
    }
    @include respond-to(xs) {
      height: 300px;
    }
  }
  .rights {
    background: $yellow;
    color: $white;
    font-size: 12px;
    padding: 10px;
    text-align: center;
  }
  .slice {
    background: $darkgray;
    color: $white;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    img {
      width: 60px;
      display: inline-block;
      margin-left: 5px;
    }
  }

  .map {
    position: relative;
  }
  .contacts {
    position: absolute;
    top: 0;
    right: 0;
    @include respond-to(xs) {
      width: 100%;
    }
  }
  .contact-text {
    padding: 10px 15px;
    border: 2px solid $yellow;
    background: $white;
    text-align: center;
    @include respond-to(sm) {
      padding: 5px 10px;
    }
    @include respond-to(xs) {
      padding: 5px;
    }
    span {
      display: block;
      font-family: 'Roboto Regular';
      font-size: 14px;
      color: $yellow;
      @include respond-to(sm) {
        font-size: 12px;
      }
      @include respond-to(xs) {
        font-size: 12px;
      }
    }
  }
}
