.modal-dialog {
  overflow: hidden;

  @include respond-to(sm) {
    width: 80%;
  }

  .modal-content {
    border: 0;
    border-radius: 0;
    overflow: hidden;

    .close {
      font-size: 40px;
      font-weight: 100;
      position: absolute;
      top: 0;
      right: 10px;
      z-index: 1;
    }
  }
}

.promoModal {
  .modal-body {
    padding: 0 !important;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.modal-body {
  display: inline-flex;
  padding: 20px 0 20px 20px !important;
  width: 100%;

  @include respond-to(xs) {
    display: block;
    height: 600px;
    padding: 30px !important;
  }

  .room-container {
    margin-bottom: 0 !important;
  }

  .room-description {
    height: auto !important;
    margin-bottom: 15px;
    max-height: 260px;
    overflow-y: auto !important;


    @include respond-to(xs) {
      width: 100%;
      height: 300px !important;
      max-height: 300px;
    }
  }

  .room-content {
    position: relative;
    @include respond-to(xs) {
      display: none;
      width: 100%;
    }
  }

  strong {
    float: left;
    font-family: 'Roboto Bold';
    font-size: 16px;
  }

  .btn-yellow {
    margin-top: 15px;
    position: absolute;
    bottom: 30px;
    width: 90% !important;
    @include respond-to(xs) {
      position: initial;
      width: 100% !important;
    }
  }

  .room-carousel {
    height: 100%;
    width: 50%;

    @include respond-to(xs) {
      height: 80%;
      margin-bottom: 0;
      width: 100%;
    }
  }

  .center {
    @extend .center;
    @include align-items(flex-start);
    padding: 0 50px;

    @include respond-to(xs) {
      padding: 0 10px;
    }
  }

  .carousel-arrows {
    bottom: 10px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 50%;

    @include respond-to(xs) {
      width: 100%;
      bottom: 50px;
    }

    i {
      color: #969696;;
      cursor: pointer;
      font-size: 20px;
    }
    i:hover {
      color: $darkgray;
    }
  }

  #description,
  #name {
    display: none;

    @include respond-to(xs) {
      display: block;
    }
  }

  #name {
    .room-name {
      background: $white;
      border: 0;
      width: 100%;
    }
  }

  .collapse {
    margin-bottom: 30px;
  }

  #images {
    bottom: 0;
    padding-right: 80px;
    position: fixed;
    width: 100%;
  }
  .room-cover {
    height: 400px !important;
    margin-bottom: 30px !important;
  }

}
