.navbar.navbar-default {
  background-color: $white;
  border-radius: 0;
  border: 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
  font-family: 'Roboto Regular';
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 15px 0 0;

  @include respond-to(sm) {
    font-size: 12px;
  }

  .navbar-toggle {
    border-radius: 0;
    z-index: 1;
  }

  .container {
    padding: 0 60px;
    width: 100%;

    @include respond-to(sm) {
      padding: 0 15px;
    }
    @include respond-to(xs) {
      padding: 0 30px;
    }
  }

  .brand-logo {
    left: 10px;
    margin-right: 50px;
    padding-bottom: 15px;
    position: relative;

    @include respond-to(sm) {
      left: 0;
      margin-right: 0;

      img {
        width: 70px;
      }
    }
    @include respond-to(xs) {
      float: left;
      margin-left: 15px;
    }
  }

  .links-nav {
    li {
      @include transition(.5s);
      border-bottom: 4px solid $white;
      cursor: pointer;
      height: 70px;

      @include respond-to(xs) {
        height: 45px;
        border-bottom: 0;
      }
    }

    a {
      color: $black;
    }

    li:hover,
    .current {
      border-bottom: 4px solid $yellow;
    }
  }

  .socials-nav {
    float: right;
    padding-right: 10px;

    @include respond-to(sm) {
      padding-right: 0;
    }

    @include respond-to(xs) {
      float: none;
      padding-bottom: 20px;
      text-align: center;
    }

    li {
      padding: 10px 5px 0;

      @include respond-to(xs) {
        display: inline-block;
      }
    }

    .socials {
      @include transition(.5s);
      background: $yellow;
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }

    .socials:hover {
      background: $yellow-hover;
    }

    i {
      color: $white;
      font-size: 18px;
    }
  }

  .lenguage-tab {
    font-size: 13px;
    height: 45px;
    padding: 6px 15px 25px 5px;

    @include respond-to(xs) {
      display: block !important;
      height: 30px;
      padding-bottom: 0 !important;
    }
    @include respond-to(sm) {
      display: block !important;
      height: 30px;
      padding-bottom: 0 !important;
    }

    .center {
      @extend .center;
      flex-direction: row;
    }

    a {
      color: $lightgray;
      cursor: pointer;
      font-weight: 600;
      padding: 0 5px;
    }

    .active {
      color: $black;
    }
  }
}
