.alert {
  cursor: pointer;
  background-color: $white;
  border-radius: 0px;
  font-family: 'Roboto Regular';
  font-size: 16px;
  position: fixed;
  right: 20px;
  top: 100px;
  z-index: 10;

  p {
    font-weight: 500;
  }
}
.alert-danger {
  border: 2px solid #F72E23;
  color: #EF4D44;
}
.alert-success {
  border: 2px solid #54B160;
  color: #54B160;
}