.header-information {
	background: $primary-color;
	padding: 0px 0px 20px 115px;
	position: fixed;
	min-height: 75px !important;
	top: 54;
	z-index: 4;
	width: 75%;
	@media #{$medium-and-down} {
	    max-width: 100% !important;
	    width: 100% !important;
	}
	a{
		color: white;
	}
	a:hover {
		text-decoration: underline;
	}
	h1 {
		margin: 0px;
		font-weight: 300;
		font-size: 2em;
		color: white;
	}
	small {
		color: white;
		font-size: 1em;
		font-weight: 400;
	}
}
