.listing{
	padding: 0px !important;
	margin-top: 75px;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	background: #ffffff;
	@media #{$small-and-down} {
		margin-top: 0px;
	}
	.btn-new{
		position: fixed;
		z-index: 5;
		top: 100px;
		margin-left: 32px;
	}
	.btn-export {
		margin: 10px 25px;
	}
	.entries{
		float: right;
		margin: 10px 15px 10px 15px;
	  padding-right: 15px;
	  border: 1px solid #eeeeee;
	  padding: 7px 30px;
	  font-size: 12px;
	  @media #{$small-and-down} {
	    display: none;
	  }
	}
	table{
		width: 100.1%;
		tbody{
			tr{
				td.item-check{
					left: 5px;
					[type="checkbox"] + label{
						top: 4.9px;
					}
					@media #{$small-and-down} {
				    left: -5px;
				  }
				}
				td{
					padding-left: 20px;
					position: relative;
					font-weight: 300;
					.btn-floating:hover{
						box-shadow: none !important;
					}
					a.show-row{
						position: absolute;
					  left: 0px;
					  top: 0px;
					  width: 100%;
					  height: 67px
					}
				}
				#check-read {
					color: $primary-color;
					font-size: 20px;
				}
			}
			tr:hover, tr.active{
				background: #F4F4F4;
			}
		}
	}
}

.listing-show{
	padding: 0px !important;
	.listing-show-header{
		position: fixed;
		top: 0px;
		height: 129px;
		width: 25%;
		background: rgb(211, 47, 47);
		.actions{
			float: right;
			position: relative;
			top: 9px;
			right: 10px;
			.btn-floating:hover{
				box-shadow: none !important;
			}
		}
		h5{
			color: white;
			margin: 0px;
			padding: 10px;
			position: absolute;
			bottom: 0px;
			font-weight: 300;
			i{
				position: relative;
				top: 3px;
			}
		}
	}
	.listing-show-body{
		margin-top: 75px;
		position: fixed;
		min-width: 25%;
		overflow: auto !important;
		&::-webkit-scrollbar {
      width: 0 !important;
    }
		h5{
			color: #4C4C4C;
			font-weight: 600;
			font-size: 16px;
			margin-top: 10px;
			margin-bottom: 0px;
		}
		p{
			font-weight: 300;
			text-align: justify;
		}
		p.not_found{
			margin-top: 9px;
			text-align: center;
			color: red;
		}
		img{
			width: 100%;
		}
		.list {
			padding: 10px;
			margin-top: 0px;
			margin-bottom: 0px;
			li.list-row{
				margin-bottom: 10px;
				.display-label{
					color: #4C4C4C;
					font-weight: 500;
					font-size: 13px;
				}
				.display-value{
					font-weight: 300;
					font-size: 13px;
				}
			}
		}
	}

}

.btn-index-add {
	display: none;
	@media #{$small-and-down} {
		display: block;
		position: fixed;
		bottom: 20px;
		right: 20px;
	}
}

.images-box {
	margin-top: 55px;
	.event-images-card {
		margin-left: 10px;
		display: inline-block;
		.show-row > img {
			width: 100%;
		}
	}
}
