.navbar-fixed{
	height: 54px;
}

nav{
	height: 54px;
	padding: 9px 16px 12px 16px;
	background: $primary-color;
	box-shadow: none;
	@media #{$small-and-down} {
		min-width: 100%;
	}
	@media #{$medium-and-down} {
		min-width: 100%;
	}
	.nav-wrapper{
		line-height: 30px;
		.actions{
			position: relative;
			top: -4px;
			@media #{$medium-and-down} {
				position: relative;
				right: -10px;
				top: 2px;
				i{
					line-height: 32px;
					font-size: 20px !important;
				}
			}
		}
		i{
			line-height: 38px;
			height: 34px;
		}
		.btn-floating{
			@media #{$medium-and-down} {
				width: 30px;
				height: 30px;
			}
		}
		.btn-floating:hover{
			box-shadow: none !important;
		}
		.switch{
			position: relative;
			left: 0px;
			top: -5px;
			@media #{$small-and-down} {
				top: -2px;
				left: 10px;
			}
			@media #{$medium-and-up} {
				top: -5px;
				left: 0px;
			}
			@media #{$medium-and-down} {
				top: -4px;
				left: 15px;
			}
			i{
			  -webkit-animation-duration: .7s;
			  -webkit-animation-delay: 0s;
			  @media #{$medium-and-down} {
					 line-height: 33px;
				}

		  }
		}
		.title{
			font-family: 'Patua One', cursive;
			position: relative;
			left: 10px;
			font-size: 30px;
		}
		.dropdown-content{
			top: 45px !important;
			border-radius: 2px !important;
			background-color: #FFFFFF !important;
			overflow: hidden !important;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
			li{
				a{
					font-size: 0.8em;
					color: rgb(81, 81, 81);
					padding: 5px 10px 5px 10px;
				}
			}
		}
	}
	.lenguage {
		height: 37px;
		display: inline-block;
		.tab {
			position: relative;
		}
		a {
			height: 37px;
			width: 37px;
			text-align: center;
			vertical-align: top;
			border-radius: 50%;
			padding-top: 5px;
		}
		span {
			color: white;
			position: relative;
			top: 5px;
			font-size: 25px;
		}
		.active {
			font-weight: 700;
		}
	}
}

