//Hoja de estilos generado por Keppler.
.poll-menu {
  padding: 0 !important;
}

.fixed {
  position: fixed;
}

.card-ask {
  margin-bottom: 2px !important;
}

#ask-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2px !important;
}
.fields {
  .s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin: 0 !important;
  }
}

.fields-option {
  padding-left: 1rem;
  padding-right: 1rem;
}

.fields-editable {
  border: 1px dashed #ffffff;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;

  .edit-sentence {
    opacity: 0;
    position: absolute;
    right: 1rem;
  }
}

.add-option {
  background: #c0c0c0;
  border: 1px dashed #ffffff;
  padding: .3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  p {
    margin: 0;
  }
}

.fields-editable:hover {
  border: 1px dashed #c0c0c0;
  position: relative;

  .edit-sentence {
    opacity: 1;
    position: absolute;
    top: 0px;
    right: 1rem;
  }
}

.card-notification-charts {
  max-height: 300px;
  overflow: hidden !important;
  overflow-y: scroll !important;
}
