.new_room, .edit_room{
	.nested-fields{
		position: relative;
		.remove_fields{
			position: absolute;
			top: 0px;
			right: 10px;
		}

		.remove_fields:hover{
			i{
				color: #26a69a !important;
			}
		}
	}

	.links {
		margin-right: 10px;
		.add_fields{
			margin-top: 10px;
		}

	}
	.file {
		padding: 0;
		margin: 0;
		margin-bottom: 5px;
		input[type="file"]{
			padding: 0;
			width: 100%;
		}

	}
}

.slider{
	z-index: 1;
	.indicators .indicator-item.active{
		background-color: $primary-color;
	}
}
#show-room{
	padding: 0 !important;
}
.cover-img {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.room_description {
	margin-bottom: 15px;
}
.collection-item {
	.circle {
		width: 60px !important;
		height: 60px !important;
	}

	.remove_fields {
		right: 0 !important;
	}
}