- questions.each do |question|
  - if question.ask_type.eql?("short-text")
    = render "frontend/poll/short_text", question: question
  - elsif question.ask_type.eql?("long-text")
    = render "frontend/poll/long_text", question_type: question.id.to_s, question: question
  - elsif question.ask_type.eql?("yes-or-not")
    = render "frontend/poll/yes_or_not", question: question
  - elsif question.ask_type.eql?("simple-selection")
    = render "frontend/poll/simple_selection", question: question
  - elsif question.ask_type.eql?("multiple-selection")
    = render "frontend/poll/simple_selection", question: question
