.card.card-ask
  .fields{ id: "fields-#{question.id}" }
    .title-form
      %a= question.sentence
    %p= question.description
  = simple_form_for question_type do |f|
    = f.input :answer, label: false, as: :ckeditor, input_html: { :ckeditor => { :toolbar => 'mini'} }
  .clearfix
