.card.card-ask
  .fields{ id: "fields-#{question.id}" }
    .title-form
      %a= question.sentence
    %p= question.description
  .option{ id: "fields-option-#{question.id}" }
    - if question.ask_type.eql?("simple-selection")
      - question.options.each do |option|
        .fields{id: "option-#{option.id}"}
          %label.btn.btn-check
            %input.radio-btn{:name => "#{question.id}", :type => "radio", :value => "#{option.name}"}/
            %p
              = option.name
    - else
      - question.options.each do |option|
        .field{id: "option-#{option.id}"}
          %label.btn.btn-check
            %input{:name => "#{question.id}[#{option.name}]", id: "question-#{option.id}",:type => "checkbox"}/
            %p
              = option.name
