.card.card-ask
  .fields{ id: "fields-#{question.id}" }
    .title-form
      %a= question.sentence
    %p= question.description
  .fields
    %label.btn.btn-check
      %input.radio-btn{:name => "#{question.id}", :type => "radio", :value => "Sí"}/
      %p
        Sí
    %br/
    .fields
      %label.btn.btn-check
        %input.radio-btn{:name => "#{question.id}", :type => "radio", :value => "No"}/
        %p
          No
