.navbar-fixed{ "ng-style" => is_index? ? "{'max-width':'75%'}" : "{'min-width':'100%'}" }
  %nav{ "ng-style" => is_index? ? "{'max-width':'75%'}" : "{'min-width':'100%'}" }
    .nav-wrapper
      %a.brand-logo.switch.animated{ "ng-click" => "sidebarSwitch()", class: "btn-floating waves-effect waves-light btn-flat switch-{{sidebar}}" }
        = material_icon.md_24.menu.css_class "animated"
      %a.brand-logo.title.hide-on-small-only.hide-on-med-and-down
        Keppler
      = render 'layouts/admin/search'
      .actions.right
        .lenguage
          .tab
            = link_to "EN", { :locale => "en" }, class: "animated waves-effect waves-light #{I18n.locale == :en ? ('locale active';) : ('locale';)}", "data-no-turbolink" => true
            %span= '|'
            = link_to "ES", { :locale => "es" }, class: "animated waves-effect waves-light #{I18n.locale == :es ? ('locale active';) : ('locale';)}", "data-no-turbolink" => true
        - if is_index?
          = link_to "", { "ng-click" => "searchSiwtch()", class: "btn-floating waves-effect waves-light btn-flat hide-on-small-and-down", "ng-show" => "!inputSearch" } do
            = material_icon.md_24.search

          - if can? :destroy_multiple, model #helper
            = link_to url_for(action: :destroy_multiple, controller: controller_name).concat("?multiple_ids={{check}}#{'&search='+@query if @query}#{'&page='+@current_page if @current_page}"), method: :delete, class: "btn-floating waves-effect waves-light btn-flat tooltipped", "ng-click" => "", "ng-show"=> "btnDelete", "data-position" => "bottom", "data-tooltip" => t('tooltip.delete'), data:{confirm: "#{t("model.#{controller_name.singularize}.actions.delete")}"} do
              = material_icon.md_24.delete

            - unless @objects.size.zero?
              = link_to "", class: "btn-floating waves-effect waves-light btn-flat tooltipped", "ng-click" => "selectAll(#{@objects.to_json})", "data-position" => "bottom", "data-tooltip" => t('tooltip.select') do
                %i.mi.md-24 {{iconCheck}}

          = link_to url_for(action: :index, controller: controller_name, page: @current_page, search: @query), class: "btn-floating waves-effect waves-light btn-flat spinner-refresh tooltipped hide-on-small-and-down", "ng-click" => "spinnerReload()", "data-position" => "bottom", "data-tooltip" => t('tooltip.reload')  do
            = material_icon.md_24.refresh
        = link_to "#", class: "btn-floating waves-effect waves-light btn-flat dropdown-button", "data-activates" => 'more-options' do
          = material_icon.md_24.more_vert
        %ul{ id: "more-options", class: "dropdown-content" }
          %li
            = link_to t('header_options.to_web'), main_app.root_path
          %li
            = link_to t('header_options.profile'), main_app.edit_user_path(current_user)
          %li.divider
          %li
            = link_to t('header_options.logout'), main_app.destroy_user_session_path
