%pageslide.card{ "ps-open"=>"sidebar", "ps-auto-close" => true }
  .profile-menu.bgc-red-500
    .profile-pic
      = image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=60", class: "avatar"
    .profile-info
      = current_user.name
  %ul.pageslide-menu.collapsible{"data-collapsible" => "accordion"}
    = render "layouts/admin/sidebar_engines_links"
    - if can? :index, Room
      %li
        = tab t('model.plural.rooms'), "hotel", main_app.rooms_path, "rooms"
    - if can? :index, Event
      %li
        = tab t('model.plural.events'), "assignment", main_app.events_path, "events"
    - if can? :index, Client
      %li
        = tab t('model.plural.clients'), "group", main_app.clients_path, "clients"
    - if can? :index, User
      %li
        = tab t('model.plural.users'), "person", main_app.users_path, "Users"
    - if can? :index, Promo
      %li
        = tab t('model.plural.promos'), "style", main_app.promos_path, "promos"
    - if can? :index, Poll
      %li
        = tab t('model.plural.polls'), "content_paste", main_app.polls_path, "polls"
    - if can? :index, EventImage
      %li
        = tab t('model.plural.event_images'), "insert_photo", main_app.event_images_path, "event_images"
