.wrapper
	.wrapper-body.container
		.actions
			= link_to users_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.back') do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @user do |f|
					.row
						= f.input :name, label: t("model.user.attributes.name")
						= f.input :email, label: t("model.user.attributes.email")
						= f.input :role_ids, collection: Role.all.map { |rol| [rol.change_name.humanize, rol.id] }, label: false, include_blank: t('role.select')
						= f.input :password, label: t("model.user.attributes.password")
						= f.input :password_confirmation, label: t("model.user.attributes.password_confirmation")
						.form-actions.right
							= f.button :submit, t('buttons.save'), class: "btn"
