.modal{ id: "modal-#{@user.id}"}
	= form_tag user_path(@user),  method: "PUT" do
		.modal-header
			%h4= t('role.modal_title', name: @user.name)
		.modal-content
			- Role.all.each do |role|
				.radio-button
					= radio_button_tag "user[role_ids]", role.id, false, class: "radio-button__input", id: "radio#{role.id}", :type => "radio", :value => "#{role.id}", :checked => @user.has_role?(role.name)
					= label_tag "user[role_ids]", role.change_name.humanize, class: "radio-button__label", :for => "radio#{role.id}"
		.modal-footer
			= button_tag t('buttons.set_role'), :class => "waves-effect waves-light btn", name: 'commit', value: "Asignar Rol"
			= link_to t('buttons.cancel'), "", class: "modal-action modal-close waves-effect waves-light btn red"

