.listing-show-header
	.actions
		- if can? :update, Client
			= link_to edit_client_path(@client), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @client.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.documentation")
			.display-value= @client.documentation
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @client.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.company")
			.display-value= @client.company
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.email")
			.display-value= @client.email
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.telephone")
			.display-value= @client.telephone
	

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
