= title("Clients - Listado")
.listing.col.l9.m12.s12
	- if @objects
		= link_to export_clients_path(format: 'xlsx'), class: 'btn btn-primary btn-export' do
			= t('buttons.export')
	= entries(@total, @objects)
	%table.bordered
		%tbody
			- @objects.each do |client|
				= render 'listing', client: client
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							= t('model.client.no_clients')
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

- if can? :new, model
	= link_to new_client_path, class: "btn-index-add btn-floating btn-large teal waves-effect waves-light red" do
		= material_icon.md_24.add.css_class("md-light")
