.wrapper
	.wrapper-body.container
		.actions
			= link_to poll_results_path(@poll), class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for [@poll, @result] do |f|
					.row
						= f.input :firstname
						= f.input :lastname
						= f.input :email

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
