.listing-show-header
	.actions
		- if can? :update, Result
			= link_to edit_poll_result_path(@poll, @result), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @result.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.firstname")
			.display-value= @result.firstname
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.lastname")
			.display-value= @result.lastname
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.email")
			.display-value= @result.email
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.poll_id")
			.display-value= @result.poll_id


:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
