%tr{ id: "row-#{result.id}" }
	- if can? :destroy_multiple, Result
		%td.item-check{style:"width: 10%"}
			= link_to "", poll_result_path(@poll, result), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{result.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{result.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{result.id}" }

	%td{style:"width: 30%"}
		= link_to "", poll_result_path(@poll, result, search: @query), remote: true, class: "show-row"
		%span
			= result.firstname
	%td{style:"width: 30%"}
		= link_to "", poll_result_path(@poll, result, search: @query), remote: true, class: "show-row"
		%span
			= result.lastname
	%td{style:"width: 30%"}
		= link_to "", poll_result_path(@poll, result, search: @query), remote: true, class: "show-row"
		%span
			= result.email

	%td{style:"width: 5%"}
		= link_to poll_result_path(@poll, result), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")
