= title "Results | #{@result.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Result
				= link_to poll_result_path(@poll, @result), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Result
				= link_to edit_poll_result_path(@poll, @result), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to poll_results_path(@poll), class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.firstname")
					.display-value.fs-body-1.tc-black-2= @result.firstname.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.lastname")
					.display-value.fs-body-1.tc-black-2= @result.lastname.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.email")
					.display-value.fs-body-1.tc-black-2= @result.email.to_s.humanize
				- @result.results_questions.each do |result|
					%li.list-row
						.display-label= result.question.sentence
						.display-value.fs-body-1.tc-black-2= result.option
