.banner.events-banner
  .banner-background
    .background-1{ style: "background-image: url('#{@images.any? ? @images.first.image : nil}')" }
      .mask-left
    .background-2{ style: "background-image: url('#{@images.any? ? @images.last.image : nil}')" }
      .mask-right
  .banner-texts
    .center
      = t('forms.banner_title')
    .names
      %a.left= @images.first.name.mb_chars.upcase
      %a.right= @images.last.name.mb_chars.upcase
