= render 'events/event_banner'

#form-reservation
  - unless @event.errors[:base].empty?
    %div.alert.alert-danger.form-alert{ onclick: "hideAlert();" }
      %div
        = t('errors.alert_message')
        - @event.errors[:base].each_with_index do |e,i|
          - if i <= 4
            %p{style: 'margin-bottom: 0;'}= "- #{e}"

  = simple_form_for @event, url: create_events_path do |f|
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .title-form
          %a= t('forms.client_info')
        = f.simple_fields_for :client do |c|
          .alignment-div
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = c.input :name, label: false, :placeholder=> t('forms.attributes.name')
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = c.input :documentation, label: false, :placeholder=> t('forms.attributes.documentation')
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = c.input :company, label: false, :placeholder=> t('forms.attributes.company')
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = c.input :email, label: false, :placeholder=> t('forms.attributes.email')
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = c.input :telephone, label: false, :placeholder=> t('forms.attributes.telephone')
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .field
                = f.input :date_event, label: false, :placeholder=> t('forms.attributes.date_event') , as: :string, input_html: {class: "datepicker"}

      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .title-form
          %a= t('forms.event_info')
        .alignment-div
          .col-lg-3.col-md-3.col-sm-3.col-xs-12
            .field
              = f.input :event_type, label: false, :placeholder=> t('forms.attributes.event_type')
          .col-lg-3.col-md-3.col-sm-3.col-xs-12
            .field
              = f.input :color_theme, label: false, :placeholder=> t('forms.attributes.color_theme')
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            .field
              = f.input :quantity, label: false, :placeholder=> t('forms.attributes.quantity'), as: :integer

          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            = f.input :begin_date, label: false, placeholder: t('forms.attributes.begin_date'), as: :string, input_html: {class: "datepicker", id: "checkin" }
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            = f.input :end_date, label: false, placeholder: t('forms.attributes.end_date'), as: :string, input_html: {class: "datepicker", id: "checkout"}
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .field
              = f.time_select :begin_time, { :combined => true, prompt: t('forms.attributes.begin_time'), :minute_interval => 30,:time_separator => "",:start_hour => 0,:start_minute => 0,:end_hour => 23, :end_minute => 0, ampm: true  }, { class: "select_time" }
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .field
              = f.time_select :end_time, { :combined => true, prompt: t('forms.attributes.end_time'), :minute_interval => 30,:time_separator => "",:start_hour => 0,:start_minute => 0,:end_hour => 23, :end_minute => 0, ampm: true }, { class: "select_time" }
          %br.hidden-xs.hidden-md
          %br.hidden-xs.hidden-md
          %br.hidden-xs.hidden-md
          %br.hidden-xs.hidden-md
          %br.hidden-xs.hidden-md

      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .title-form
          %a= t('forms.assembly_type')
        .btn-group{"data-toggle" => "buttons"}
          %center
            .col-lg-2.col-md-2.col-sm-4.col-xs-12
              %label.btn.btn-montaje
                %center
                  #image-montaje-1
                    = f.radio_button :assembly_type, t('forms.types.auditorium')
                %p= t('forms.types.auditorium')
            .col-lg-2.col-md-2.col-sm-4.col-xs-12
              %label.btn.btn-montaje
                %center
                  #image-montaje-2
                    = f.radio_button :assembly_type, t('forms.types.reunion')
                %p= t('forms.types.reunion')
            .col-lg-2.col-md-2.col-sm-4.col-xs-12
              %label.btn.btn-montaje
                %center
                  #image-montaje-3
                    = f.radio_button :assembly_type, t('forms.types.u_type')
                %p= t('forms.types.u_type')
            .col-lg-2.col-md-2.col-sm-4.col-xs-12
              %label.btn.btn-montaje
                %center
                  #image-montaje-4
                    = f.radio_button :assembly_type, t('forms.types.banquette')
                %p= t('forms.types.banquette')
            .col-lg-2.col-md-2.col-sm-4.col-xs-12
              %label.btn.btn-montaje
                %center
                  #image-montaje-5
                    = f.radio_button :assembly_type, t('forms.types.school')
                %p= t('forms.types.school')
            .col-lg-2.col-md-2.col-sm-4.col-xs-12
              %label.btn.btn-montaje
                %center
                  #image-montaje-6
                    = f.radio_button :assembly_type, t('forms.types.cocktail')
                %p= t('forms.types.cocktail')
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .field
            = f.text_area :event_description, :placeholder=> t('forms.attributes.event_description'), style: "margin-bottom: 0;"
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .title-form
          %a= t('forms.drinks')
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :cold_snacks
              %p
                %label= t('model.event.attributes.cold_snacks') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :hot_snacks
              %p
                %label= t('model.event.attributes.hot_snacks') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :dish_menu
              %p
                %label= t('model.event.attributes.dish_menu') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :theme_stations
              %p
                %label= t('model.event.attributes.theme_stations') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :buffet_type
              %p
                %label= t('model.event.attributes.buffet_type') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :morning_coffeebreak
              %p
                %label= t('model.event.attributes.morning_coffeebreak') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :evening_coffeebreak
              %p
                %label= t('model.event.attributes.evening_coffeebreak') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :cheese_table
              %p
                %label= t('model.event.attributes.cheese_table') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :uncorking_coctels
              %p
                %label= t('model.event.attributes.uncorking_coctels') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :uncorking_whisky
              %p
                %label= t('model.event.attributes.uncorking_whisky') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :uncorking_wine
              %p
                %label= t('model.event.attributes.uncorking_wine') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :uncorking_vodka
              %p
                %label= t('model.event.attributes.uncorking_vodka') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :coctel_bar
              %p
                %label= t('model.event.attributes.coctel_bar') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :sodas
              %p
                %label= t('model.event.attributes.sodas') + '.'
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .title-form
          %a= t('forms.decoration')
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :flower_arrengements
              %p
                %label= t('model.event.attributes.flower_arrengements') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :baloons
              %p
                %label= t('model.event.attributes.baloons') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :toldo
              %p
                %label= t('model.event.attributes.toldo') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :sound
              %p
                %label= t('model.event.attributes.sound') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :dj
              %p
                %label= t('model.event.attributes.dj') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :musical_group
              %p
                %label= t('model.event.attributes.musical_group') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :podium
              %p
                %label= t('model.event.attributes.podium') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :videobeam
              %p
                %label= t('model.event.attributes.videobeam') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :lights
              %p
                %label= t('model.event.attributes.lights') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :inflatable
              %p
                %label= t('model.event.attributes.inflatable') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :magic_show
              %p
                %label= t('model.event.attributes.magic_show') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :dance_show
              %p
                %label= t('model.event.attributes.dance_show') + '.'
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .field
            %label.btn.btn-check
              = f.check_box :crazy_hour
              %p
                %label= t('model.event.attributes.crazy_hour') + '.'
      %br
      %br
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          .title-form
            %a= t('model.event.attributes.other_services').mb_chars.upcase
          .field
            = f.text_area :other_services,  id: 'textarea-6'
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          .title-form
            %a= t('model.event.attributes.observations').mb_chars.upcase
          .field
            = f.text_area :observations,  id: 'textarea-6'

      .form-actions
        = f.button :submit, t('buttons.submit'), class: "btn btn-save", id: "btn-submit" , style: "width: auto;"
