.listing-show-header
  .actions
  %h5
    = material_icon.md_24.account_circle.css_class("md-light")
    = t("model.singular.event")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
  %ul.list
    %li.list-row
      .display-label= t("model.event.attributes.id")
      .display-value= @event.id
    %li.list-row
      .display-label= t("model.event.attributes.name")
      .display-value= @event.client.name
    %li.list-row
      .display-label= t("model.event.attributes.email")
      .display-value= @event.client.email
    %li.list-row
      .display-label= t("model.event.attributes.telephone")
      .display-value= @event.client.telephone
    %li.list-row
      .display-label= t("model.event.attributes.quantity")
      .display-value= "#{@event.quantity} Personas"
    %li.list-row
      .display-label= t("model.event.attributes.event_type")
      .display-value= @event.event_type.humanize
    %li.list-row
      .display-label= t("model.event.attributes.begin_date")
      .display-value= @event.begin_date
    %li.list-row
      .display-label= t("model.event.attributes.end_date")
      .display-value= @event.end_date
    %li.list-row
      .display-label= t("model.event.attributes.assembly_type")
      .display-value= @event.assembly_type


:javascript
  $('.tooltipped').tooltip({delay: 1});
