%tr{ id: "row-#{event.id}" }
	- if can? :destroy_multiple, Event
		%td.item-check{style:"width: 10%"}
			= link_to "", event_path(event), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{event.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{event.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{event.id}" }
		%td#check-read
			= content_tag(:i, 'check', id: 'check-read', class: "mi md-18 #{'hide' unless event.read} tooltipped", "data-position" => "top", "data-tooltip" => "#{t('model.event.actions.read')}")

		%td{style: "color: #{event.status(event.begin_date, event.end_date)}"}
			= material_icon.md_24.access_time

		%td{style:"width: 30%"}
			= link_to "", event_path(event, search: @query), remote: true, class: "show-row"
			%span
				= event.client.name
		%td{style:"width: 30%"}
			= link_to "", event_path(event, search: @query), remote: true, class: "show-row"
			%span
				= event.client.company
		%td{style:"width: 30%"}
			= link_to "", event_path(event, search: @query), remote: true, class: "show-row"
			%span
				= event.date_event
		%td{style:"width: 30%"}
			= link_to "", event_path(event, search: @query), remote: true, class: "show-row"
			%span
				= "#{event.quantity} Personas"

	%td{style:"width: 5%"}
		= link_to event_path(event, read: true), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")
