!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title Document
    = wicked_pdf_stylesheet_link_tag 'frontend/guard/layout/export'
  %body.export-table
    %div
      %div.title
        %h1 PARAGUANÁ MALL HOTEL
      %div.subtitle
        %h2 Registro de Eventos
      %div
        %table{border: "1"}
          %tr
            %th Nombre
            %th Cedula/rif
            %th Empresa
            %th Fecha de Solicitud
            %th Email
            %th Teléfono
          %tr
            %td= @event.client.name.humanize
            %td= @event.client.documentation
            %td= @event.client.company.humanize
            %td= @event.date_event
            %td= @event.client.email.downcase
            %td= @event.client.telephone
          %tr
            %th{colspan: "3"} Tipo de Evento
            %th{colspan: "3"} Colores/motivo
          %tr
            %td{colspan: "3"}= @event.event_type.humanize
            %td{colspan: "3"}= @event.color_theme.humanize
          %tr
            %th N° de Invitados
            %th Fecha de Inicio
            %th Fecha de Culminación
            %th Hora de Inicio
            %th Hora de Culminación
            %th Tipo de Montaje
          %tr
            %td= "#{@event.quantity} Personas"
            %td= @event.begin_date
            %td= @event.end_date
            %td= @event.begin_time
            %td= @event.end_time
            %td= @event.assembly_type
          %tr
            %th{colspan: "6"} Descripción del Evento
          %tr
            %td{colspan: "6"}= @event.blank?(@event.event_description)
          %tr
            %td.empty
          %tr.blank
            %th.blank{colspan: "6"} Alimentos & Bebidas
          %tr
            %th Pasapalos Fríos
            %th Pasapalos Caliente
            %th Menú Plateado
            %th Estaciones Temáticas
            %th Tipo Buffet
            %th Coffee Break Matutino
          %tr
            %td
              = @event.chosen(@event.cold_snacks)
            %td
              = @event.chosen(@event.hot_snacks)
            %td
              = @event.chosen(@event.dish_menu)
            %td
              = @event.chosen(@event.theme_stations)
            %td
              = @event.chosen(@event.buffet_type)
            %td
              = @event.chosen(@event.morning_coffeebreak)
          %tr
            %th Coffee Break Vespertino
            %th Mesa de Quesos
            %th Descorche de Cocteles
            %th Descorche de Whisky
            %th Descorche de Vino/Champagne
            %th Descorche de Vodka/Ron
          %tr
            %td
              = @event.chosen(@event.evening_coffeebreak)
            %td
              = @event.chosen(@event.cheese_table)
            %td
              = @event.chosen(@event.uncorking_coctels)
            %td
              = @event.chosen(@event.uncorking_whisky)
            %td
              = @event.chosen(@event.uncorking_wine)
            %td
              = @event.chosen(@event.uncorking_vodka)
          %tr
            %th{colspan: "3"} Barra Coctelera
            %th{colspan: "3"} Refrescos
          %tr
            %td{colspan: "3"}
              = @event.chosen(@event.coctel_bar)
            %td{colspan: "3"}
              = @event.chosen(@event.sodas)
          %tr
            %td.empty
          %tr.blank
            %th.blank{colspan: "6"} Decoración del Evento
          %tr
            %th Arreglos Florales
            %th Globos
            %th Toldo
            %th Sonido
            %th Dj
            %th Grupo Musical
          %tr
            %td
              = @event.chosen(@event.flower_arrengements)
            %td
              = @event.chosen(@event.baloons)
            %td
              = @event.chosen(@event.toldo)
            %td
              = @event.chosen(@event.sound)
            %td
              = @event.chosen(@event.dj)
            %td
              = @event.chosen(@event.musical_group)
          %tr
            %th Podium
            %th Videobeam
            %th Iluminación
            %th Inflables
            %th Show de Magia
            %th Show de Baile
          %tr
            %td
              = @event.chosen(@event.podium)
            %td
              = @event.chosen(@event.videobeam)
            %td
              = @event.chosen(@event.lights)
            %td
              = @event.chosen(@event.inflatable)
            %td
              = @event.chosen(@event.magic_show)
            %td
              = @event.chosen(@event.dance_show)
          %tr
            %th{colspan: "6"} Hora Loca
          %tr
            %td{colspan: "6"}
              = @event.chosen(@event.crazy_hour)
          %tr
            %td.empty
          %tr
            %th{colspan: "6"} Otros Servicios
          %tr
            %td{colspan: "6"}= @event.blank?(@event.other_services)
          %tr
            %td.empty
          %tr
            %th{colspan: "6"} Observaciones Adicionales
          %tr
            %td{colspan: "6"}= @event.blank?(@event.observations)
