= title  "#{ t('model.plural.events') } - #{ t('actions.index') } "
.listing.col.l9.m12.s12
	= entries(@total, @objects)
	%table.bordered
		%tbody
			- @objects.each do |event|
				= render 'listing', event: event
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							= t('model.event.no_events')
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"
