= title "#{ t('actions.index')} | #{@event.id}"
.wrapper
  .wrapper-body.container
    .actions
      - if can? :delete, Event
        = link_to event_path(@event), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.delete'), method: :delete, data: { confirm: 'Are you sure?' } do
          = material_icon.md_18.delete.css_class("md-dark")
      = link_to events_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.back') do
        = material_icon.md_18.arrow_back.css_class("md-dark")
    .panel-body#body-show.order-event-show
      .container
        %table.table.table-bordered
          %tr
            %th Nombre
            %th Cedula/rif
            %th Empresa
            %th Fecha de Solicitud
            %th Email
            %th Teléfono
          %tr
            %td= @event.client.name.humanize
            %td= @event.client.documentation
            %td= @event.client.company.humanize
            %td= @event.date_event
            %td= @event.client.email.downcase
            %td= @event.client.telephone
          %tr
            %th{colspan: "3"} Tipo de evento
            %th{colspan: "3"} Colores/motivo
          %tr
            %td{colspan: "3"}= @event.event_type.humanize
            %td{colspan: "3"}= @event.color_theme.humanize
          %tr
            %th N° de Invitados
            %th Fecha de Inicio
            %th Fecha de Culminación
            %th Hora de Inicio
            %th Hora de Culminación
            %th Tipo de Montaje
          %tr
            %td= "#{@event.quantity} Personas"
            %td= @event.begin_date
            %td= @event.end_date
            %td= @event.begin_time
            %td= @event.end_time
            %td= @event.assembly_type
          %tr
            %th{colspan: "6"} Descripción del evento
          %tr
            %td{colspan: "6"}= @event.blank?(@event.event_description)
          %tr
            %th.empty
          %tr
            %th{colspan: "6"} Alimentos & Bebidas
          %tr
            %th Pasapalos Fríos
            %th Pasapalos Caliente
            %th Menú Plateado
            %th Estaciones Temáticas
            %th Tipo Buffet
            %th Coffee Break Matutino
          %tr
            %td
              %center= @event.chosen(@event.cold_snacks)
            %td
              %center= @event.chosen(@event.hot_snacks)
            %td
              %center= @event.chosen(@event.dish_menu)
            %td
              %center= @event.chosen(@event.theme_stations)
            %td
              %center= @event.chosen(@event.buffet_type)
            %td
              %center= @event.chosen(@event.morning_coffeebreak)
          %tr
            %th Coffee Break Vespertino
            %th Mesa de Quesos
            %th Descorche de Cocteles
            %th Descorche de Whisky
            %th Descorche de Vino/Champagne
            %th Descorche de Vodka/Ron
          %tr
            %td
              %center= @event.chosen(@event.evening_coffeebreak)
            %td
              %center= @event.chosen(@event.cheese_table)
            %td
              %center= @event.chosen(@event.uncorking_coctels)
            %td
              %center= @event.chosen(@event.uncorking_whisky)
            %td
              %center= @event.chosen(@event.uncorking_wine)
            %td
              %center= @event.chosen(@event.uncorking_vodka)
          %tr
            %th{colspan: "3"} Barra Coctelera
            %th{colspan: "3"} Refrescos
          %tr
            %td{colspan: "3"}
              %center= @event.chosen(@event.coctel_bar)
            %td{colspan: "3"}
              %center= @event.chosen(@event.sodas)
          %tr
            %th.empty
          %tr
            %th Arreglos Florales
            %th Globos
            %th Toldo
            %th Sonido
            %th Dj
            %th Grupo Musical
          %tr
            %td
              %center= @event.chosen(@event.flower_arrengements)
            %td
              %center= @event.chosen(@event.baloons)
            %td
              %center= @event.chosen(@event.toldo)
            %td
              %center= @event.chosen(@event.sound)
            %td
              %center= @event.chosen(@event.dj)
            %td
              %center= @event.chosen(@event.musical_group)
          %tr
            %th Podium
            %th Videobeam
            %th Iluminación
            %th Inflables
            %th Show de Magia
            %th Show de Baile
          %tr
            %td
              %center= @event.chosen(@event.podium)
            %td
              %center= @event.chosen(@event.videobeam)
            %td
              %center= @event.chosen(@event.lights)
            %td
              %center= @event.chosen(@event.inflatable)
            %td
              %center= @event.chosen(@event.magic_show)
            %td
              %center= @event.chosen(@event.dance_show)
          %tr
            %th{colspan: "6"} Hora Loca
          %tr
            %td{colspan: "6"}
              %center= @event.chosen(@event.crazy_hour)
          %tr
            %th.empty
          %tr
            %th{colspan: "6"} Otros Servicios
          %tr
            %td{colspan: "6"}= @event.blank?(@event.other_services)
          %tr
            %th.empty
          %tr
            %th{colspan: "6"} Observaciones Adicionales
          %tr
            %td{colspan: "6"}= @event.blank?(@event.observations)
        .actions
          = link_to event_export_path(@event.id, format: :pdf), target: '_blank', class: 'btn btn-primary btn-events' do
            = t('buttons.export')
