.cover {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;

  @include respond-to(xs) {
    @include orientation(portrait) {
      height: 60vh;
    }
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 0;

    @include respond-to(sm) {
      font-size: 2.5rem;
    }

    @include respond-to(xs) {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: 3rem;
    margin-top: 0;

    @include respond-to(sm) {
      font-size: 1.5rem;
    }

    @include respond-to(xs) {
      font-size: 1.2rem;
    }
  }

  h3 {
    font-size: 1.55rem;
    font-weight: 500;
    letter-spacing: .24rem;
    margin-top: 0;

    @include respond-to(sm) {
      font-size: 1rem;
      letter-spacing: 0;
    }
  }
}
