$text-colors: (
  ('black' , $black),
  ('white' , $white),
  ('yellow' , $yellow)
);

@each $label, $color in $text-colors {

  .border-#{$label} {
    border: 1px solid $color;
  }

  // Text color
  .lab-text-#{$label} {
    color: $color;
  }

  .bg-#{$label} {
    background: $color;
  }

}


.no-shadow {
  box-shadow: none;
}

.center {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  height: 100%;
}

.right {
  @include align-items(right);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  height: 100%;
}
