/*----------------- Base -----------------*/

// Typography
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,200);

$sourcepro: 'Source Sans Pro', sans-serif;

// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 767px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1299px)",
  'lg': "(min-width: 1300px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;

// Fonts size
$base-font-size: 10pt;

// Fonts Weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colors

$yellow-hover: #ad853c;
$yellow: #dca540;

$black: #000;
$white: #fff;
$lightgray: #a5a5a5;
$darkgray: #4d4d4d;

$red: #960000;
$orange: #ff7b00;
$blue: #0063ff;
$green: #4db300;

$background: #baafcb;

// Shadow
$primary-shadow: rgba(0, 0, 0, .17);
