.about {
  display: inline-flex;
  min-height: 600px;
  padding: 50px 70px;
  width: 100%;

  @include respond-to(sm) {
    display: block;
  }

  @include respond-to(xs) {
    display: block;
    padding: 50px 30px;
  }
  @include respond-to(xl) {
    padding: 50px 150px;
  }

  &-title {
    color: $yellow-hover;
    font-family: 'Roboto Bold';
    font-size: 18px;
    margin-bottom: 5px;
  }

  &-text {
    color: $black;
    display: inline;
    font-family: 'Roboto Light';
    font-size: 16px;
    padding-right: 50px;
    width: 50%;

    @include respond-to(sm) {
      width: 100%;
      display: block;
      padding-right: 0;
    }

    @include respond-to(xs) {
      display: block;
      font-size: 14px;
      padding-right: 0;
      width: 100%;
    }

    img {
      margin-bottom: 50px;
    }

    span {
      display: block;
      position: relative;
    }

    p {
      margin-bottom: 20px;
    }

    i {
      bottom: 3px;
      color: $yellow;
      font-size: 8px;
      margin-right: 10px;
      position: relative;
    }
  }

  &-image {
    background: image-url('frontend/Landing/About-Photo.jpg') center no-repeat;
    background-position: 60% 50%;
    background-size: cover;
    display: inline;
    width: 50%;

    @include respond-to(sm) {
      background-position: 60% 30%;
      display: block;
      height: 300px;
      margin-top: 30px;
      width: 100%;
    }

    @include respond-to(xs) {
      background-position: 60% 30%;
      display: block;
      height: 200px;
      margin-top: 30px;
      width: 100%;
    }
  }

}
