$facilities-hover: (
  ('diao', '1', $red),
  ('macato', '2', $orange),
  ('buco', '3', $blue),
  ('guanibara', '4', $green)
);

#facilities-landing {
  @include respond-to(xs) {
    padding-top: 0;
  }

  .row { padding: 0; }

  .col {
    display: inline-flex;
    padding: 0;
    justify-content: center;
  }

  .logo {
    display: inline;
    height: 40px;
    margin-bottom: 20px;
    min-width: 151px;
    overflow: hidden;

    &-facility-1,
    &-facility-2,
    &-facility-3,
    &-facility-4 {
      @include transition(.5s);
      opacity: 1;

      @include respond-to(xs) {
        opacity: 0;
      }

      img {
        height: 40px;
      }
    }

    &-hover-1,
    &-hover-2,
    &-hover-3,
    &-hover-4 {
      @include transition(.5s);
      opacity: 0;
      position: absolute;
      top: 0;

      @include respond-to(xs) {
        opacity: 1;
      }
      img {
        height: 40px;
      }
    }

    &-text {
      display: inline;
      min-width: 120px;
      padding-left: 5px;
      width: 50%;

      @include respond-to(xs) {
        display: none;
      }

      span {
        @include transition(.5s);
        color: $darkgray;
        display: block;
        font-family: 'Roboto Regular';
        font-size: 14px;
      }
    }
  }

  @each $name, $i, $color in $facilities-hover {
    .cont-#{ $name }:hover {
      .logo-facility-#{$i} {
        opacity: 0;
      }

      .logo-hover-#{$i} {
        opacity: 1;
      }

      span {
        color: $color;
      }
    }
  }
}


