#home {
  color: $white;
  padding: 0;

  .home-slide-container > .centered-right {
    @extend .center;
    @include align-items(flex-end);
    padding: 0 70px;

    @include respond-to(xs) {
      @include align-items(center);
      padding: 0 5px;
    }

    @include respond-to(sm) {
      padding: 0 20px;
    }
  }

  .home-text {
    @include respond-to(xs) {
      text-align: center;
    }
  }

  .home-text > span {
    display: block;
    font-family: 'Century Gothic Italic';
    font-size: 3.6rem;
    margin-right: 30px;
    text-align: right;
    @include respond-to(xs) {
      text-align: center;
      margin-right: 0;
    }
    @include respond-to(sm) {
      font-size: 3.4rem;
    }
  }

  .home-text > .strong {
    font-family: 'Century Gothic Bold Italic';
    margin-right: 0;
  }

}
