.paraguana-container {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Regular';
  color: $black;
  .col-text,
  .col-image {
    height: 300px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-bottom: 40px;

  }

  .col-image {
    @include respond-to(xs) {
      height: 200px;
    }
  }
  .col-text {
    @include respond-to(sm) {
      height: auto;
    }
    @include respond-to(xs) {
      height: auto;
    }
  }
  .col-image > img {
    margin: 0;
    width: 100%;
  }
  .container-left {
    padding-right: 20px;
    @include respond-to(sm) {
      padding: 0;
    }
    @include respond-to(xs) {
      padding: 0;
    }
  }
  .container-right {
    padding-left: 20px;
    @include respond-to(sm) {
      padding: 0;
    }
    @include respond-to(xs) {
      padding: 0;
    }
  }
  .centered-dr {
    @extend .center;
    justify-content: flex-end;
    text-align: right;
    align-items: flex-end;

    @include respond-to(sm) {
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    @include respond-to(xs) {
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }
  .centered-ul {
    @extend .center;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;

    @include respond-to(sm) {
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    @include respond-to(xs) {
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }
  p {
    width: 80%;
    font-size: 18px;
    @include respond-to(sm) {
      width: 100%;
      padding: 0 20px;
      font-size: 16px;
    }
    @include respond-to(xs) {
      width: 100%;
      padding: 0 20px;
      font-size: 15px;
    }
  }
}
#paraguana-black {
  margin: 0;
  padding: 30px 0 70px;
}

#image-1 {
  background: image-url('frontend/Paraguana/Adicora.jpg') center no-repeat;
  background-position: 100%;
  height: 100%;
  width: 100%;
  background-size: cover;
}
#image-2 {
  background: image-url('frontend/Paraguana/Parques_Naturales.jpg') center no-repeat;
  background-position: 100%;
  height: 100%;
  width: 100%;
  background-size: cover;
}
#image-3 {
  background: image-url('frontend/Paraguana/Santa_Ana.jpg') center no-repeat;
  background-position: 100%;
  height: 100%;
  width: 100%;
  background-size: cover;
}
#image-4 {
  background: image-url('frontend/Paraguana/San_Roman.jpg') center no-repeat;
  background-position: 100%;
  height: 100%;
  width: 100%;
  background-size: cover;
}
