.facilities {
  padding: 0 70px;
  width: 100%;

  @include respond-to(sm) {
    padding: 0 30px;
  }

  @include respond-to(xs) {
    padding: 0 30px;
  }

  .title {
    font-family: 'Roboto Regular';
    color: $yellow_hover;
    margin-bottom: 25px;
    font-size: 25px;
  }

  .facility-box {
    @include respond-to(md) {
      font-size: 2.2rem;
    }
    @include respond-to(xs) {
      font-size: 2.2rem;
    }
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .col-facility {
      padding: 0;
    }
    span {
      color: $yellow_hover;
      font-family: 'Roboto Regular';
    }
    .strong {
      font-family: 'Roboto Bold';
    }
    p {
      margin-top: 10px;
      color: $black;
      font-family: 'Roboto Regular';
      font-size: 16px;
      @include respond-to(xs) {
        text-align: center;
      }
    }
  }
  .info-box {
    margin-bottom: 50px;
  }
  .info-box-colored {
    margin-bottom: 50px;
    height: auto;
    width: auto;
    padding: 10px 15px;
    text-align: center;
    margin-top: 5px;
    float: right;
    @include respond-to(sm) {
      padding: 10px 2px;
    }
    @include respond-to(xs) {
      float: none;
    }
    span {
      display: block;
      color: $white;
      font-size: 14px;
      font-family: 'Roboto Bold';
      @include respond-to(xs) {
        font-size: 12px;
      }
    }
  }
}

$background-colors: (
  ('red', $red),
  ('orange', $orange),
  ('blue', $blue),
  ('green', $green)
);
@each $name, $color in $background-colors {
  .#{ $name }-bg {
    background: $color;
  }
}
