#rooms {
  padding-top: 0;
  @include respond-to(xs) {
    padding: 0 10px 50px;
  }

  .section-title {
    color: $yellow_hover;
    font-family: 'Roboto Bold';
    font-size: 25px;
    margin-bottom: 50px;
    text-align: center;
  }

  .container-empty {
    background: $darkgray;
    color: $white;
    font-family: 'Roboto Light';
    padding: 20px 0;
  }

  .room-container {
    display: inline-flex;
    height: 350px;
    margin-bottom: 30px;
    width: 100%;

    @include respond-to(xs) {
      display: block;
      height: 600px;
      margin-bottom: 50px;
    }
    .room-description {
      color: $white !important;
    }
  }

  .room-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 50%;

    @include respond-to(xs) {
      height: 250px;
      width: 100%;
    }

    .mask-cover {
      @include transition(.5s);
      background: rgba(0,0,0,0.6);
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;

      @include respond-to(sm) {
        opacity: 1;
      }
      @include respond-to(xs) {
        opacity: 1;
      }
    }
  }

  .room-cover:hover {
    .mask-cover {
      opacity: 1;
    }
  }

  .room-content {
    background: $darkgray;
    color: $white;
    font-family: 'Roboto Regular';
    padding: 20px;
    width: 50%;

    @include respond-to(xs) {
      height: 350px;
      width: 100%;
    }
  }

  .white {
    background: $white;
    color: $darkgray;
    padding: 0 20px;
  }

  .room-name {
    color: $yellow_hover;
    font-family: 'Roboto Bold';
    font-size: 25px;
    margin-bottom: 10px;

    @include respond-to(md) {
      font-size: 20px;
    }

    @include respond-to(sm) {
      font-size: 20px;
    }

    @include respond-to(xs) {
      font-size: 20px;
    }

  }

  .room-description {
    font-family: 'Roboto Light';
    font-size: 16px;
    height: 200px;
    overflow: hidden;

    p {
      margin-bottom: 0;
    }
  }
}

.btn-light {
  margin-top: 15px;
  border-radius: 0;
  font-family: 'Roboto Light';
}

.room-content > .btn-yellow,
#collapse-description > .btn-yellow {
  width: 100%;
}

.btn-white {
  background: none;
  border: 2px solid $white;
  color: $white;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  background: none;
  border: 2px solid $white;
  color: $white;
  outline: 0;
}

.hide {
  height: 0 !important;
}
