%tr{ id: "row-#{poll.id}" }
	- if can? :destroy_multiple, Poll
		%td.item-check{style:"width: 10%"}
			= link_to "", poll_path(poll), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{poll.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{poll.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{poll.id}" }

	%td{style:"width: 60%"}
		= link_to "", poll_path(poll, search: @query), remote: true, class: "show-row"
		%span
			= poll.name
	%td{style:"width: 30%"}
		%span
			= poll.language.capitalize

	%td{style:"width: 5%"}
		= link_to poll_statistics_path(poll), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.pie_chart.css_class("md-dark")

	%td{style:"width: 5%"}
		= link_to poll_results_path(poll), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.done_all.css_class("md-dark")

	%td{style:"width: 5%"}
		= link_to poll_path(poll), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.format_list_numbered.css_class("md-dark")
