= title "Polls | #{@poll.id}"
.wrapper
  .wrapper-body.container
    .actions
      = link_to polls_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.back') do
        = material_icon.md_18.arrow_back.css_class("md-dark")
    .card
      %h4= @poll.name
      %p= "Se ha realizado esta encuesta a #{Result.count} personas"
    #ask-container
      .row
      - @poll.questions.each do |question|
        - if question.ask_type.eql?("long-text") || question.ask_type.eql?("short-text")  
          .col.l12
            .card.card-notification-charts
              %h5= question.sentence
              - question.results_questions.each do |result_question|
                - if !result_question.option.blank?
                  %p
                    %b= result_question.result.fullname
                    = result_question.option

        - else
          .col.l6
            .card
              %h5= question.sentence
              - if question.ask_type.eql?("yes-or-not")
                = pie_chart question.data_yes_or_not(@poll.language)
              - elsif question.ask_type.eql?("simple-selection")
                = pie_chart question.data_selections
              - elsif question.ask_type.eql?("multiple-selection")
                = pie_chart question.data_selections




:css
  .header-information {
    display: none;
  }
  .wrapper {
    margin-top: 10px;
  }
