= title "Polls | #{@poll.id}"
.wrapper
	.wrapper-body.container
		.actions
			= link_to polls_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.back') do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.row
			.col.l3
				.fixed
					.card.poll-menu
						%ul.collection.with-header
							%li.collection-header
								%h5 Preguntas
							%li.collection-item
								= link_to poll_question_create_path(@poll, "short-text"), remote: true do
									Texto Corto
							%li.collection-item
								= link_to poll_question_create_path(@poll, "long-text"), remote: true do
									Texto Largo
							%li.collection-item
								= link_to poll_question_create_path(@poll, "yes-or-not"), remote: true do
									Si / No
							%li.collection-item
								= link_to poll_question_create_path(@poll, "simple-selection"), remote: true do
									Selección Simple
							%li.collection-item
								= link_to poll_question_create_path(@poll, "multiple-selection"), remote: true do
									Selección Multiple


			.col.l9
				.card#ask-header
					%h4= @poll.name
				#ask-container
					= render "questions/types/build_questions", questions: @questions






:css
	.header-information {
		display: none;
	}
	.wrapper {
		margin-top: 10px;
	}
