- questions.each do |question|
  - if question.ask_type.eql?("short-text")
    = render "questions/types/short_text", question: question
  - elsif question.ask_type.eql?("long-text")
    = render "questions/types/long_text", question_type: question.ask_type, question: question
  - elsif question.ask_type.eql?("yes-or-not")
    = render "questions/types/yes_or_not", question: question
  - elsif question.ask_type.eql?("simple-selection")
    = render "questions/types/simple_selection", question: question
  - elsif question.ask_type.eql?("multiple-selection")
    = render "questions/types/simple_selection", question: question
