.card.card-ask
  .toolbar.right
    = link_to poll_question_delete_path(question.poll, question), method: :delete, remote: true do
      Borrar
  .chip
    = "##{question.id}"
  .fields{ id: "fields-#{question.id}" }
    = render 'questions/fields', question: question
  = simple_form_for question_type do |f|
    = f.input :answer, label: false, as: :ckeditor, input_html: { :ckeditor => { :toolbar => 'mini'} }
  .clearfix
