.card.card-ask
  .toolbar.right
    = link_to poll_question_delete_path(question.poll, question), method: :delete, remote: true do
      Borrar
  .chip
    = "##{question.id}"
  .fields{ id: "fields-#{question.id}" }
    = render 'questions/fields', question: question
  %input{placeholder: "Respuesta"}
