.card.card-ask
  .toolbar.right
    = link_to poll_question_delete_path(question.poll, question), method: :delete, remote: true do
      Borrar
  .chip
    = "##{question.id}"
  .fields{ id: "fields-#{question.id}" }
    = render 'questions/fields', question: question
  .fields-option
    = simple_form_for "", url: poll_question_add_option_path(question.poll, question), remote: true do |f|
      .row
        .col.l10
          = f.input :name, label: "Agregar nueva opción", input_html: {id: "question-input-#{question.id}"}
  .option{ id: "fields-option-#{question.id}" }
    = render "questions/partial/options", question: question
