.card.card-ask
  .toolbar.right
    = link_to poll_question_delete_path(question.poll, question), method: :delete, remote: true do
      Borrar
  .chip
    = "##{question.id}"
  .fields{ id: "fields-#{question.id}" }
    = render 'questions/fields', question: question
  .fields
    %p
      %input#test1{:name => "group1", :type => "radio"}/
      %label{:for => "test1"} Si
    %p
      %input#test2{:name => "group1", :type => "radio"}/
      %label{:for => "test2"} No
