%section.about#about
  .about-text
    = image_tag 'frontend/Landing/Logo-About.png'
    %p
      = t('landing.about.text1')
      %strong= t('landing.hotel')
      = t('landing.about.text2')
    %p
      .about-title= t('landing.about.services')
      - (1..12).to_a.each do |i|
        %span
          %i.fa.fa-circle
          = t("landing.about.list.item#{i}")
    .about-title= t('landing.about.hours')
    = t('landing.about.check_in')
    %strong 3:00 p.m.
    %br
    = t('landing.about.check_out')
    %strong 12:00 m.
    %br
    = t('landing.about.room_service')
    %strong= t('landing.about.room_service_hour')
  .about-image
