- names = { 1 => 'diao', 2 => 'macato', 3 => 'buco'}
%section#facilities-landing
  .row
    - names.each do |n, name|
      .col.col-lg-4.col-md-4.col-sm-4.col-xs-12{ class: "cont-#{name}" }
        .logo
          .div{ class: "logo-facility-#{n}" }
            = image_tag "frontend/Landing/iconos/#{name.capitalize}.png"
          .div{ class: "logo-hover-#{n}" }
            = link_to facilities_path(anchor: name) do
              = image_tag "frontend/Landing/iconos/#{name.capitalize}_hover.png"
        .logo-text
          = t("landing.facilities.#{name}").html_safe
