%section#home
  .home-slide
    .home-slide-container{style: "background-image: url('assets/frontend/Landing/Home1.jpg')"}
      .centered-right
        .home-text
          %span= t('landing.home.text1')
          %span.strong= t('landing.home.bold_text1')
          = link_to @reserva, target: '_blank', class: 'btn btn-default btn-yellow' do
            = t('buttons.reservation')
    .home-slide-container{style: "background-image: url('assets/frontend/Landing/Home2.jpg')"}
      .centered-right
        .home-text
          %span= t('landing.home.text2')
          %span.strong= t('landing.home.bold_text2')
          = link_to @reserva, target: '_blank', class: 'btn btn-default btn-yellow' do
            = t('buttons.reservation')
    .home-slide-container{style: "background-image: url('assets/frontend/Landing/Home3.jpg')"}
      .centered-right
        .home-text
          %span= t('landing.home.text3')
          %span.strong= t('landing.home.bold_text3')
          = link_to @reserva, target: '_blank', class: 'btn btn-default btn-yellow' do
            = t('buttons.reservation')
