.modal.fade.promoModal{data: { keyboard: true }}
  .modal-dialog
    .modal-content
      %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
        %span{ 'aria-hidden' => true } &times;
      .modal-body
        = image_tag @promo.image
