%section#rooms
  .section-title
    = t('landing.rooms').mb_chars.upcase
  - if @rooms.any?
    - @rooms.each do |room|
      .room-container
        .room-cover{ style: "background-image: url(#{room.images.first.img})" }
          .mask-cover
            .center
              = link_to show_room_path(permalink: room.permalink, modal_opened: true), class: 'btn btn-white btn-light','data-remote'=> true do
                = t('buttons.view_more').mb_chars.upcase
        .room-content
          .room-name= room.name.mb_chars.upcase
          .room-description= Sanitize.fragment(room.description, :elements   => %w( div span a li br p )).html_safe
          = link_to @reserva, target: '_blank', class: 'btn btn-yellow btn-light' do
            = t('buttons.reservation').mb_chars.upcase
  - else
    .container-empty
      .center
        = t('landing.no_rooms')
