.listing-show-header
  %h5
    = material_icon.md_24.account_circle.css_class("md-light")
    = t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
  .list
    %h5= t('header.module_description')
    %p{align: "justify"}= t('descriptions.event_images.text1')
    %p{align: "justify"}= t('descriptions.event_images.text2')
