.wrapper
  .wrapper-body.container
    .actions
      = link_to event_images_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.back') do
        = material_icon.md_18.arrow_back.css_class("md-dark")
    .wrapper-inputs
      .card
        = simple_form_for @event_image do |f|
          .row
            = f.input :name
            = f.input :image, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
            .form-actions.right
              = f.button :submit, t('buttons.save'), class: "btn"
