.listing-show-header
	.actions
		- if can? :update, model
			= link_to edit_event_image_path(@event_image), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.edit') do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @event_image.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @event_image.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.image")
			.display-value= @event_image.image


:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
