.col.s6
	.card.event-images-card
		.card-image
			= image_tag event_image.image
		.pull-right
			= link_to edit_event_image_path(event_image), class: "btn-floating waves-effect btn-flat" do
				= material_icon.md_24.create.css_class("md-dark")

			= link_to event_image_path(event_image), class: "btn-floating waves-effect btn-flat" do
				= material_icon.md_24.more_horiz.css_class("md-dark")


