= title "#{ t('model.plural.event_images')} | #{t('actions.index')}"
.listing.col.l9.m12.s12{ resize: true , style: "height: {{windowHeight}}px;" }
  = entries(@total, @objects)
  - if @objects.size.zero?
    %table.bordered
      %tbody
        %tr
          %td{colspan: "4"}
            %center
              No se han encontrado Imágenes.
  - else
    .images-box
      - @objects.each do |event_image|
        = render 'listing', event_image: event_image

  = paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
  = render 'description'
