= title "#{ t('model.plural.event_images')} - #{ t('actions.index')} | #{@event_image.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :update, model
				= link_to edit_event_image_path(@event_image), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.delete') do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to event_images_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.back') do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.list-row
				.display-label{ style: 'text-align: center;' }= @event_image.name.to_s.humanize
			.card-image
				= image_tag @event_image.image
