%footer
  .map
    #map
    .contacts
      .contact-text
        %span= t('footer.location1')
        %span{ style: 'margin-bottom: 5px;' }= t('footer.location2')
        %span (+58) 269 3911831 / (+58) 269 391 1800
        %span reservaciones@paraguanamallhotel.com

  .rights
    = t('footer.rights')
  .slice
    = t('footer.slice')
    = link_to 'http://slicegroup.xyz/', target: '_blank' do
      = image_tag 'frontend/slicegroup.png'
