%head
  %meta{ name: 'viewport', content: "width=device-width, initial-scale=1.0" }
  %title= content_for?(:title) ? yield(:title) : "#{ t('landing.hotel') }"
  %meta{ name: 'description', content: "#{content_for?(:description) ? yield(:description) : t('meta_description')}" }
  %meta{:content => "#dca540", :name => "theme-color"}
  %meta{:content => "#dca540", :name => "msapplication-navbutton-color"}
  %meta{:content => "#dca540", :name => "apple-mobile-web-app-status-bar-style"}/
  %script{src:"https://maps.googleapis.com/maps/api/js?sensor=false"}
  = stylesheet_link_tag 'frontend/application', media: 'all', :'data-turbolinks-track' => true
  = javascript_include_tag 'frontend/application', :'data-turbolinks-track' => true
  = render 'layouts/frontend/google_analytics'
  = favicon_link_tag 'frontend/favicon.png'
  = csrf_meta_tags

