-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top#front-navbar
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { target: '.navbar-collapse', toggle: 'collapse' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .brand-logo
        = link_to root_path do
          = image_tag 'frontend/Landing/Logo.png'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.links-nav
        = render 'layouts/frontend/navigation_links'
      %ul.nav.navbar-nav.socials-nav
        = render 'layouts/frontend/social_links'
