%li#link-about{ onclick: "scrollToAnchor('about')" }
  - if action_name == 'index'
    %a= t('navbar.home')
  - else
    = link_to root_path(anchor: 'about'), class: 'external' do
      = t('navbar.home')
%li#link-rooms{ onclick: "scrollToAnchor('rooms')" }
  - if action_name == 'index'
    %a= t('navbar.rooms')
  - else
    = link_to root_path(anchor: 'rooms'), class: 'external' do
      = t('navbar.rooms')
%li{ class: "#{ 'current' if controller_name == 'events' }" }
  = link_to t('navbar.events'), new_event_path
%li{ class: "#{ 'current' if action_name == 'facilities' }" }
  = link_to t('navbar.facilities'), facilities_path
%li{ class: "#{ 'current' if action_name == 'paraguana' }" }
  = link_to t('navbar.paraguana'), paraguana_path
