%li.lenguage-tab
  .center
    = link_to "EN", { :locale => "en" }, class: "#{I18n.locale == :en ? ('locale active';) : ('locale';)}", "data-no-turbolink" => true
    |
    = link_to "ES", { :locale => "es" }, class: "#{I18n.locale == :es ? ('locale active';) : ('locale';)}", "data-no-turbolink" => true

%li
  = link_to @tripadvisor, class: 'socials', target: '_blank' do
    .center
      %i.fa.fa-tripadvisor
%li
  = link_to @twitter, class: 'socials', target: '_blank' do
    .center
      %i.fa.fa-twitter
%li
  = link_to @facebook, class: 'socials', target: '_blank' do
    .center
      %i.fa.fa-facebook
%li
  = link_to @instagram, class: 'socials', target: '_blank' do
    .center
      %i.fa.fa-instagram
