.listing-show-header
  %h5
    = material_icon.md_24.account_circle.css_class("md-light")
    = t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
  .list
    %h5= t('header.module_description')
    %p{align: "justify"}= t('descriptions.promos.text1')
    %p{align: 'justify'}= t('descriptions.promos.text2')
    %p{style: 'text-align: center; font-weight: bold;'}= t('descriptions.promos.text3')
