.wrapper
	.wrapper-body.container
		.actions
			= link_to promos_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.back') do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @promo do |f|
					.row
						= f.input :name, label: t("model.promo.attributes.name")
						= f.input :image, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
						= f.input :public, as: :checkbox_material, label: t("model.promo.attributes.public")

						.form-actions.right
							= f.button :submit, t('buttons.save'), class: "btn"
