.listing-show-header
	.actions
		- if can? :update, Promo
			= link_to edit_promo_path(@promo), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.edit') do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	= image_tag @promo.image
	%ul.list
		%li.list-row
			.display-label{ style: 'text-align: center;' }= @promo.public ? t('model.promo.public_true') : t('model.promo.public_false')
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @promo.name


:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
