%tr{ id: "row-#{promo.id}" }
	- if can? :destroy_multiple, Promo
		%td.item-check{style:"width: 10%"}
			= link_to "", promo_path(promo), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{promo.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{promo.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{promo.id}" }

		%td{style:"width: 30%"}
			= link_to "", promo_path(promo, search: @query), remote: true, class: "show-row"
			%span
				= promo.name
		%td{style:"width: 30%"}
			= link_to "", promo_path(promo, search: @query), remote: true, class: "show-row"
			%span
				= promo.public ? t('model.promo.public_true') : t('model.promo.public_false')
		%td{ style: 'width: 10%' }
			= render 'promos/public_switch', promo: promo

	%td{style:"width: 5%"}
		= link_to promo_path(promo), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")
