= simple_form_for promo do |f|
  .switch
    %label
      - if f.object.public == false
        %input{name: "promo[public]", type: "hidden", value: "true"}
        %input{name: "promo[public]", type: "checkbox", onclick: "$('#edit_promo_#{promo.id}').submit()"}
          %span.lever

      - else
        %input{name: "promo[public]", type: "hidden", value: "false"}
        %input{name: "promo[public]", type: "checkbox", onclick: "$('#edit_promo_#{promo.id}').submit()", checked: "true"}
          %span.lever