= title "#{ t('model.plural.promos') } - #{ t('actions.index') } "
.listing.col.l9.m12.s12
	- if can? :new, model
		= link_to new_promo_path, class: "btn-floating btn-large waves-effect waves-light teal btn-new hide-on-small-only" do
			= material_icon.md_24.add
	= entries(@total, @objects)
	%table.bordered
		%tbody
			- @objects.each do |promo|
				= render 'listing', promo: promo
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							= t('model.promo.no_promos')
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

- if can? :new, model
	= link_to new_promo_path, class: "btn-index-add btn-floating btn-large teal waves-effect waves-light red" do
		= material_icon.md_24.add.css_class("md-light")
