= title "#{ t('model.singular.promo') } | #{@promo.name}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Promo
				= link_to promo_path(@promo), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.delete'), method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Promo
				= link_to edit_promo_path(@promo), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.edit') do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to promos_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.back') do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-image
				= image_tag @promo.image
			%ul.list
				%li.list-row
					.display-label{ style: 'text-align: center;' }= @promo.public ? t('model.promo.public_true') : t('model.promo.public_false')
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @promo.name.to_s.humanize
