.wrapper
  .wrapper-body.container
    .actions
      = link_to rooms_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.back') do
        = material_icon.md_18.arrow_back.css_class("md-dark")

    .wrapper-inputs
      .card
        = simple_form_for @room do |f|
          .row
            = f.input :name
            = f.input :price
            = f.input :description, :as => :ckeditor, label: false, input_html: {:ckeditor => { :toolbar => 'mini'} ,class: "materialize-textarea"}
          .row
            = f.simple_fields_for :images do |c|
              = render 'image_fields', :f => c
            .form-actions.right
              = link_to_add_association t('buttons.add_img'), f, :images, class: "waves-effect waves-dark btn-flat"
              = f.button :submit, t('buttons.save'), class: "btn"
