.listing-show-header
	.actions
		- if can? :update, Room
			= link_to edit_room_path(@room), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.edit') do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	- if @room.images.any?
		= image_tag @room.images.first.img
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @room.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @room.name.nil? ? t('model.room.attributes.no_translation')  : @room.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.price")
			.display-value= number_to_currency(@room.price, precision: 2, format: "%u %n", unit: "Bs.")
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.description")
			.display-value= @room.description.nil? ? t('model.room.attributes.no_translation') : @room.description.html_safe






:javascript
	$('.tooltipped').tooltip({delay: 1});
