= title "#{ t('model.plural.rooms') } - #{ t('actions.index') } "
.listing.col.l9.m12.s12
	- if can?(:new, model) && @objects.count < 4
		= link_to new_room_path, class: "btn-floating btn-large waves-effect waves-light teal btn-new hide-on-small-only" do
			= material_icon.md_24.add
	= entries(@total, @objects)
	%table.bordered
		%tbody
			- @objects.each do |room|
				= render 'listing', room: room
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							= t('model.room.no_rooms')
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

