= title "#{ t('model.plural.rooms') } | #{@room.name}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Room
				= link_to room_path(@room), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.delete'), method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Room
				= link_to edit_room_path(@room), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.edit') do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to rooms_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t('tooltip.back') do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card#show-room
			- if @room.images.any?
				.card-image
					.slider
						%ul.slides
							- @room.images.each do |item|
								%li
									= image_tag item.img

			.card-content
				%ul.list
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.id")
						.display-value.fs-body-1.tc-black-2= @room.id.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.name")
						.display-value.fs-body-1.tc-black-2= @room.name.nil? ? t('model.room.attributes.no_translation')  : @room.name
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.price")
						.display-value.fs-body-1.tc-black-2= number_to_currency(@room.price, precision: 2, format: "%u %n", unit: "Bs.")
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.description")
						.display-value.fs-body-1.tc-black-2= @room.description.nil? ? t('model.room.attributes.no_translation') : @room.description.html_safe


:javascript
	$(document).ready(function(){
		$('.slider').slider();
	});
