.export-table {
  font-family: "Open Sans", sans-serif;

  .title {
    background: white;
    border: 2px solid #dca540;
    padding: 10px;

    h1 {
      color: #dca540;
      font-size: 18px;
      text-align:center;
    }
  }

  .subtitle {
    background: white;
    font-size: 14px;
    padding-left: 10px;
    padding: 5px;

    h2 {
      color: #dca540
    }
  }

  .blank {
    background: white;
    border: 0;
  }

  .empty {
    background: white;
    border: 0;
    height: 20px;
  }

  table {
    border-collapse: collapse;
    border: 0;
    color: #4d4d4d;
    font-size: 12px;
    width:100%;
  }

  tr {
    border: 0;
  }

  th {
    border: 1px solid #dca540;
  }

  td {
    border:0;
    text-align: center;
  }
}
