.alignment-div {
  margin-left: -13px;
}

#form-reservation {
  font-family: 'Roboto Regular';
  font-size: 14px;
  margin-bottom: 50px;
  margin-left: 10%;
  width: 80%;

  .error {
    input {
      background-color: #FF6868;
    }

    .help-inline {
      position: absolute;
      bottom: -5px;
      left: 15px;
      z-index: 1;
      color: #FF1C1C;
      font-family: 'Roboto Medium';
    }
  }

  @include respond-to(sm) {
    margin-left: 5%;
    width: 90%;
  }

  @include respond-to(xs) {
    margin-left: 5%;
    width: 90%;
  }

  input {
    background-color: #D4D4D4;
    border: 13px solid white;
    border-radius: 0;
    color: black;
    outline: none;
    padding: 10px;
    width: 100%;
  }

  .radio-btn {
    width: 5%;
  }

  input::-webkit-input-placeholder {
    color: #2b2b2b;
  }

  textarea {
    background-color: #D4D4D4;
    border: none;
    color: black;
    margin-bottom: 30px;
    outline: none;
    padding: 10px;
    width: 100%;
  }

  #textarea-6 {
    height: 100px;
    width: 95%;
  }

  textarea::-webkit-input-placeholder {
    color: #2b2b2b;
  }

  .select_time {
    background: #D4D4D4;
    border: 14px solid white;
    outline: none;
    padding: 10px;
    width: 100%;
  }

  .select {
    background: #D4D4D4;
    border: none;
    padding: 10px;
    width: 100%;
  }

  .btn-save {
    @include transition (0.5s);
    background: white !important;
    border: 3px solid $yellow !important;
    color: black !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    margin-left: 10px !important;
    padding: 10px 50px !important;
    text-decoration: none !important;
  }

  .btn-save:hover {
    background: $yellow !important;
    color: white !important;
  }

  .row {
    margin: 0;
    padding: 0;
  }

  @for $i from 1 through 12 {
    .col-lg-#{$i}, .col-md-#{$i}, .col-sm-#{$i}, .col-xs-#{$i} {
      margin: 0;
      padding: 0;
    }
  }
}

.title-form {
  margin-bottom: 30px;
  padding-top: 30px;
  text-align: left;
  font-family: 'Roboto Condensed Light Italic';

  a {
    border-bottom: 4px solid $yellow;
    color: #58554e;
    font-size: 25px;
    font-style: italic;
    padding-bottom: 5px;
    padding-right: 20px;
    text-decoration: none;
    line-height: 5rem;

    @include respond-to(xs) {
      font-size: 22px;
    }
  }
}

.box-form {
  margin-bottom: 30px;
  margin-left: 10%;
  margin-top: 20px;
  width: 80%;
}

.title-box {
  background-color: rgb(104, 196, 234);
  font-weight: bold;
  padding: 10px;
}

.content-box {
  background-color: #D4D4D4;
}

#total {
  padding: 20px;

  td {
    width: 50% !important;
  }
}

.room-checks {
  background-color: transparent !important;
  height: auto;

  @include respond-to(sm) {
    margin-bottom: 10px !important;
  }

  @include respond-to(xs) {
    margin-bottom: 10px !important;
  }
}

.form-actions {
  text-align: center;
}
input[type=radio] {
  display:none;
}

.fields {
  input[type=radio] {
    display: inline;
    height: 20px;
    float: left;
  }
}

input[type=checkbox] {
  background-color: white;
  float: left;
  height: 20px;
  margin-left: 5px;
  margin-right: 20px;
  margin-top: 10px;
  width: 20px !important;
}

.btn-check,
.btn-montaje {
  background: #D4D4D4;
  border-radius: 0px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 6px;
  width: 100%;

  p {
    color: black;
    margin-bottom: 0px;
    padding-top: 4px;

    @include respond-to(xs) {
      margin-left: 3rem;
      padding-top: 2px;
    }
  }
}

.btn-montaje {
  max-width: 300px;
  border: 3px solid #D4D4D4;
}

.btn-check {
  background: white;
  border-bottom-width: 0px;
  border-left: 3px solid $yellow;
  border-right-width: 0px;
  border-top-width: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;

  p {
    label {
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.btn-group {
  width: 100%;

  .active {
    border: 3px solid $yellow;
  }
}

#image-montaje-1 {
  background: image-url('frontend/Events/montaje-01.png') center no-repeat;
  background-size: cover;
  height: 70px;
  max-width: 70px;
  min-height: 70px;
  width: 70px;
}

#image-montaje-2 {
  background: image-url('frontend/Events/montaje-02.png') center no-repeat;
  background-size: cover;
  height: 70px;
  max-width: 70px;
  min-height: 70px;
  width: 70px;
}

#image-montaje-3 {
  background: image-url('frontend/Events/montaje-03.png') center no-repeat;
  background-size: cover;
  height: 70px;
  max-width: 70px;
  min-height: 70px;
  width: 70px;
}

#image-montaje-4 {
  background: image-url('frontend/Events/montaje-04.png') center no-repeat;
  background-size: cover;
  height: 70px;
  max-width: 70px;
  min-height: 70px;
  width: 70px;
}

#image-montaje-5 {
  background: image-url('frontend/Events/montaje-05.png') center no-repeat;
  background-size: cover;
  height: 70px;
  max-width: 70px;
  min-height: 70px;
  width: 70px;
}

#image-montaje-6 {
  background: image-url('frontend/Events/montaje-06.png') center no-repeat;
  background-size: cover;
  height: 70px;
  max-width: 70px;
  min-height: 70px;
  width: 70px;
}
