.home-slide,
.room-carousel {
  height: 100%;

  &-container {
    background-position-x: 80%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    outline: 0;
    width: 100%;
  }
  .room-slide {
    @extend .home-slide-container;
    height: 400px;
  }
}

.slick-track,
.slick-list {
  height: 100%;
}
