html, body {
 height: 100%;
}

body {
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
}

.section-hr {
  border-bottom: 1px solid #ccc;
  max-width: 400px;
  margin-bottom: 50px;

}

#nprogress {
  .spinner{
    z-index: 999999;
    top: 15px;
  }

  .spinner-icon {
    border: solid 3px transparent;

    border-top-color: #29d;
    border-left-color: #29d;

    width: 40px;
    height: 40px;


  }
}
