section {
  height: auto;
  padding: 50px 70px;
  width: 100%;

  @include respond-to(xs) {
    padding: 50px 30px;
  }
  @include respond-to(xl) {
    padding: 50px 150px;
  }
}

section#home {
  height: 100%;
}
