!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title Document
  %body
    %h2{style: "font-family: 'Lato', sans-serif;"} Tu solicitud ha sido enviada, nos estaremos comunicando contigo.
    %div{style: "font-family: 'Lato', sans-serif;"}
      %div{style: "background: white;padding:10px; border: 2px solid #dca540"}
        %h1{style: "color:#dca540;text-align:center;"} PARAGUANÁ MALL HOTEL
      %div{style: "padding:5px;padding-left:10px;"}
        %h2{style: "color:#4d4d4d;"} Datos de registro de Eventos
      %div
        %table{border: "1", style: "width:100%;border:none;border-collapse:collapse;color: #4d4d4d"}
          %tr
            %th{style: 'border: 1px solid #dca540;'} Nombre
            %th{style: 'border: 1px solid #dca540;'} Cedula/rif
            %th{style: 'border: 1px solid #dca540;'} Empresa
            %th{style: 'border: 1px solid #dca540;'} Fecha de Solicitud
            %th{style: 'border: 1px solid #dca540;'} Email
            %th{style: 'border: 1px solid #dca540;'} Teléfono
          %tr
            %td{style: "text-align: center;border:none;"}= @evento.client.name.humanize
            %td{style: "text-align: center;border:none;"}= @evento.client.documentation
            %td{style: "text-align: center;border:none;"}= @evento.client.company.humanize
            %td{style: "text-align: center;border:none;"}= @evento.date_event
            %td{style: "text-align: center;border:none;"}= @evento.client.email.downcase
            %td{style: "text-align: center;border:none;"}= @evento.client.telephone
          %tr
            %th{colspan: "3", style: 'border: 1px solid #dca540;'} Tipo de Evento
            %th{colspan: "3", style: 'border: 1px solid #dca540;'} Colores/motivo
          %tr
            %td{colspan: "3", style: "text-align: center;border:none;"}= @evento.event_type.humanize
            %td{colspan: "3", style: "text-align: center;border:none;"}= @evento.color_theme.humanize
          %tr
            %th{style: 'border: 1px solid #dca540;'} N° de Invitados
            %th{style: 'border: 1px solid #dca540;'} Fecha de Inicio
            %th{style: 'border: 1px solid #dca540;'} Fecha de Culminación
            %th{style: 'border: 1px solid #dca540;'} Hora de Inicio
            %th{style: 'border: 1px solid #dca540;'} Hora de Culminación
            %th{style: 'border: 1px solid #dca540;'} Tipo de Montaje
          %tr
            %td{style: "text-align: center;border:none;"}= "#{@evento.quantity} Personas"
            %td{style: "text-align: center;border:none;"}= @evento.begin_date
            %td{style: "text-align: center;border:none;"}= @evento.end_date
            %td{style: "text-align: center;border:none;"}= @evento.begin_time
            %td{style: "text-align: center;border:none;"}= @evento.end_time
            %td{style: "text-align: center;border:none;"}= @evento.assembly_type
          %tr
            %th{colspan: "6", style: 'border: 1px solid #dca540;'} Descripción del Evento
          %tr
            %td{colspan: "6", style: "text-align: center;border:none;"}= @evento.blank?(@evento.event_description)
          %tr
            %td{ style: 'background: white; border: none; height: 20px;' }
          %tr{style: "background: white;padding:10px; border: none"}
            %th{colspan: "6", style: "border:none;"} Alimentos & Bebidas
          %tr
            %th{style: 'border: 1px solid #dca540;'} Pasapalos Fríos
            %th{style: 'border: 1px solid #dca540;'} Pasapalos Caliente
            %th{style: 'border: 1px solid #dca540;'} Menú Plateado
            %th{style: 'border: 1px solid #dca540;'} Estaciones Temáticas
            %th{style: 'border: 1px solid #dca540;'} Tipo Buffet
            %th{style: 'border: 1px solid #dca540;'} Coffee Break Matutino
          %tr
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.cold_snacks)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.hot_snacks)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.dish_menu)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.theme_stations)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.buffet_type)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.morning_coffeebreak)
          %tr
            %th{style: 'border: 1px solid #dca540;'} Coffee Break Vespertino
            %th{style: 'border: 1px solid #dca540;'} Mesa de Quesos
            %th{style: 'border: 1px solid #dca540;'} Descorche de Cocteles
            %th{style: 'border: 1px solid #dca540;'} Descorche de Whisky
            %th{style: 'border: 1px solid #dca540;'} Descorche de Vino/Champagne
            %th{style: 'border: 1px solid #dca540;'} Descorche de Vodka/Ron
          %tr
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.evening_coffeebreak)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.cheese_table)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.uncorking_coctels)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.uncorking_whisky)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.uncorking_wine)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.uncorking_vodka)
          %tr
            %th{colspan: "3", style: 'border: 1px solid #dca540;'} Barra Coctelera
            %th{colspan: "3", style: 'border: 1px solid #dca540;'} Refrescos
          %tr
            %td{colspan: "3", style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.coctel_bar)
            %td{colspan: "3", style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.sodas)
          %tr{style: "border:none;"}
            %td{ style: 'background: white; border: none; height: 20px;' }
          %tr{style: "background: white;padding:10px; border: none"}
            %th{colspan: "6", style: "border:none;"} Decoración del Evento
          %tr
            %th{style: 'border: 1px solid #dca540;'} Arreglos Florales
            %th{style: 'border: 1px solid #dca540;'} Globos
            %th{style: 'border: 1px solid #dca540;'} Toldo
            %th{style: 'border: 1px solid #dca540;'} Sonido
            %th{style: 'border: 1px solid #dca540;'} Dj
            %th{style: 'border: 1px solid #dca540;'} Grupo Musical
          %tr
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.flower_arrengements)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.baloons)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.toldo)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.sound)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.dj)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.musical_group)
          %tr
            %th{style: 'border: 1px solid #dca540;'} Podium
            %th{style: 'border: 1px solid #dca540;'} Videobeam
            %th{style: 'border: 1px solid #dca540;'} Iluminación
            %th{style: 'border: 1px solid #dca540;'} Inflables
            %th{style: 'border: 1px solid #dca540;'} Show de Magia
            %th{style: 'border: 1px solid #dca540;'} Show de Baile
          %tr
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.podium)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.videobeam)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.lights)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.inflatable)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.magic_show)
            %td{style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.dance_show)
          %tr{style: "border:none;"}
            %th{colspan: "6", style: 'border: 1px solid #dca540;'} Hora Loca
          %tr{style: "border:none;"}
            %td{colspan: "6", style: "text-align: center;border:none;"}
              = @evento.chosen(@evento.crazy_hour)
          %tr
            %td{ style: 'background: white; border: none; height: 20px;' }
          %tr
            %th{colspan: "6", style: 'border: 1px solid #dca540;'} Otros Servicios
          %tr
            %td{colspan: "6", style: "text-align: center;border:none;"}= @evento.blank?(@evento.other_services)
          %tr
            %td{ style: 'background: white; border: none; height: 20px;' }
          %tr
            %th{colspan: "6", style: 'border: 1px solid #dca540;'} Observaciones Adicionales
          %tr
            %td{colspan: "6", style: "text-align: center;border:none;"}= @evento.blank?(@evento.observations)
