html,
body,
main {
  width: 100%;
}

html {
  font-size: 10pt;

  @include respond-to(xl) {
    font-size: 12pt;
  }

  @include respond-to(md) {
    font-size: 7pt;
  }

  @include respond-to(xs) {
    font-size: 6pt;

    @include orientation(landscape) {
      font-size: 7pt;
    }
  }
}

body {
  font-size: 1.6rem;

  @include respond-to(xs) {
    font-size: 1.2rem;
  }
}

/*----------------- End base -----------------*/
