// =========================================================================
//  Roboto font
// =========================================================================

@font-face {
  font-family: 'Roboto Black';
  src: font-url('Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black Italic';
  src: font-url('Roboto/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: font-url('Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold Italic';
  src: font-url('Roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: font-url('Roboto/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed Bold Italic';
  src: font-url('Roboto/RobotoCondensed-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed Italic';
  src: font-url('Roboto/RobotoCondensed-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed Light';
  src: font-url('Roboto/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed Light Italic';
  src: font-url('Roboto/RobotoCondensed-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed Regular';
  src: font-url('Roboto/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Italic';
  src: font-url('Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: font-url('Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light Italic';
  src: font-url('Roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  src: font-url('Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Medium Italic';
  src: font-url('Roboto/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  src: font-url('Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Thin';
  src: font-url('Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Thin Italic';
  src: font-url('Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

/* ==========================================================================
  Century Gothic Font
========================================================================== */

@font-face {
  font-family: 'Century Gothic';
  src: font-url('Century/Century_Gothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: font-url('Century/Century_GothicBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Century Gothic Bold Italic';
  src: font-url('Century/Century_GothicBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Century Gothic Italic';
  src: font-url('Century/Century_GothicItalic.ttf') format('truetype');
}
