- if question.ask_type.eql?("simple-selection")
  - question.options.each do |option|
    .fields-editable{id: "option-#{option.id}"}
      %input{id: "test#{option.id}",:name => "group1", :type => "radio"}/
      %label{:for => "test#{option.id}"}
        = option.name
      .edit-sentence
        = link_to poll_question_delete_option_path(question.poll, question, option), method: :delete, remote: true do
          Borrar
      .clearfix
- else
  - question.options.each do |option|
    .fields-editable{id: "option-#{option.id}"}
      %input{id: "test#{option.id}",:type => "checkbox"}/
      %label{:for => "test#{option.id}"}= option.name
      .edit-sentence
        = link_to poll_question_delete_option_path(question.poll, question, option), method: :delete, remote: true do
          Borrar
      .clearfix
